[2019-11-06 03:56] mr-martian commented on #21
I removed it because we replaced the stft2level stuff with parselmouth but I forgot to check the install script.

[2019-11-06 03:59] keggsmurph21 commented on #21
Cool!  Thanks for the heads up :)

[2019-11-07 02:43] mr-martian opened #1 "tracing script TODO"
_Originally posted by @jonorthwash at 2018-01-12T16:12:40Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/1))_

- [x] Better zoom functionality, including based on window resizing.
- [ ] Ability to read directly from dicom files (cf. how the dicom library is used in the [alignment script](https://github.swarthmore.edu/PhonLab/ultrasound-scripts/blob/master/alignUsAu

[2019-11-07 02:43] #1 closed, assigned to keggsmurph21

[2019-11-07 02:43] mr-martian commented on #1
_Originally posted by @jonorthwash at 2018-01-12T18:22:30Z_

20150629171639.TextGrid has two tiers of frame times, both called "all frames".  The correct measure is somewhere in between the two.  Should be able to use [content2TextGrid.py](https://github.swarthmore.edu/PhonLab/ultrasound-scripts/blob/master/content2TextGrid.py) to shift [one of] them.

@BartholomaeusAstrum, could you remind us how

[2019-11-07 02:43] mr-martian commented on #1
_Originally posted by @jonorthwash at 2018-01-13T02:07:29Z_

As @BartholomaeusAstrum comments, the functionality we're looking for is in `shift.py`.

[2019-11-07 02:43] mr-martian commented on #1
_Originally posted by @jonorthwash at 2018-03-01T22:31:51Z_

For tomorrow:
- Document remaining issues as separate issues
- Take care of bug fixes first
- Document code as appropriate
- Continue as you see fit; when I show up we can reorient it a bit.

[2019-11-07 02:43] mr-martian commented on #1
_Originally posted by @jonorthwash at 2018-03-26T17:36:08Z_

Is everything in this issue exported to other issues?  If so, we should link them all and close this one.

[2019-11-07 02:43] mr-martian commented on #1
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:59:46Z_

Outdated.

[2019-11-07 02:43] mr-martian opened #2 "Tracing at different zoom levels"
_Originally posted by @keggsmurph21 at 2018-03-02T13:41:01Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/2))_

If you trace at a particular zoom level ("A") then change your zoom level to "B" and try to drag/move the tracings you just made, the script will change the locations of all the objects as if they were originally traced at B.  Basically it's a mess, but i

[2019-11-07 02:43] mr-martian commented on #2
_Originally posted by @keggsmurph21 at 2018-03-02T20:27:06Z_

fixed

[2019-11-07 02:43] #2 closed, assigned to nobody

[2019-11-07 02:43] mr-martian opened #3 "MIME type > extension"
_Originally posted by @keggsmurph21 at 2018-03-02T13:41:59Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/3))_

Change the file detection scheme to sniff MIME types rather than rely on extensions.

[2019-11-07 02:43] mr-martian commented on #3
_Originally posted by @keggsmurph21 at 2018-03-06T12:15:02Z_

implemented, see commit `ff71871ff9bd216b2d8e6ad86e40f023b6d83f32`

[2019-11-07 02:43] #3 closed, assigned to nobody

[2019-11-07 02:43] mr-martian opened #4 "Sound playback improvement"
_Originally posted by @keggsmurph21 at 2018-03-02T13:49:08Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/4))_

- [x] current library for handling playback distorts the audio strangely (slows it down)
  - library should be able to handle starting audio at arbitrary times
  - [this](http://pydub.com/) looks promising
- [x] integrate the playing of the audio with tra

[2019-11-07 02:43] #4 closed, assigned to mr-martian

[2019-11-07 02:43] mr-martian commented on #4
_Originally posted by @jonorthwash at 2018-06-25T20:38:29Z_

Does audio currently work at all?

[2019-11-07 02:43] mr-martian commented on #4
_Originally posted by @jonorthwash at 2019-05-02T20:44:54Z_

Audio playback should play select Tier's audio when tab is pressed.

[2019-11-07 02:43] mr-martian commented on #4
_Originally posted by @jonorthwash at 2019-06-20T21:49:25Z_

Any new audio issues can be filed as new issues.

[2019-11-07 02:43] mr-martian opened #5 "requirements.txt"
_Originally posted by @keggsmurph21 at 2018-03-02T13:50:04Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/5))_

This project will probably have several nonstandard dependencies, so we want to make sure it's easy for people to actually use.

[2019-11-07 02:43] #5 closed, assigned to nobody

[2019-11-07 02:43] mr-martian commented on #5
_Originally posted by @keggsmurph21 at 2018-03-06T23:51:23Z_

apparently `Requirements.txt` files are only for packages that will be registered with PyPI .. for this project it probably doesn't make any sense to try registering our file thru there and instead to make it available as a normal github repo

to this end, i've instead written a bash script `install` that should handle importing the nec

[2019-11-07 02:43] mr-martian opened #6 "waveform integration"
_Originally posted by @keggsmurph21 at 2018-03-02T13:52:58Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/6))_

Combine audio playback functionality with visual representation of the audio file.  An issue is that Tk might only be able to handle vector plots of the waveform.  Some libraries that might be able to help

 - CairoSVG (requires `$ brew install cairo` als

[2019-11-07 02:43] #6 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:43] mr-martian commented on #6
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:47:38Z_

Superseded by #30

[2019-11-07 02:43] mr-martian opened #7 "TextGrid"
_Originally posted by @keggsmurph21 at 2018-03-02T13:55:04Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/7))_

Currently textgrid data just shows the current word (based on the frame-sync tier).  Would prefer if it listed all objects on each specific tier such that each object was clickable.  On click, this would trigger the audio to jump to the "beginning" of tha

[2019-11-07 02:43] #7 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:43] mr-martian commented on #7
_Originally posted by @BartholomaeusAstrum at 2018-06-29T18:18:46Z_

No audio integration, but click on interval jumps frame to closest edge of said interval.

[2019-11-07 02:43] mr-martian commented on #7
_Originally posted by @jonorthwash at 2018-07-05T18:16:53Z_

The TextGrid functionality appears to be done.  We can figure out the audio later.

[2019-11-07 02:43] mr-martian commented on #7
_Originally posted by @jonorthwash at 2018-07-05T18:18:28Z_

f13557287ff03979051bc975d85d3f331c0df3f3 closes this issue (representing the conclusion of work on this), aside from some minor remaining bugs.

[2019-11-07 02:43] mr-martian opened #8 "Autotrace library"
_Originally posted by @keggsmurph21 at 2018-03-02T13:56:01Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/8))_

See #1 about putting this functionality directly into the application

[2019-11-07 02:43] mr-martian opened #9 "TextGrid-audio alignment integration"
_Originally posted by @keggsmurph21 at 2018-03-02T13:57:55Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/9))_

In-app button to take an audio/dicom file and a textgrid file to call Ziv's alignment script and generate a "frame times" tier for lining everything up.  Should include an optional offset parameter.

[2019-11-07 02:43] #9 closed, assigned to nobody

[2019-11-07 02:43] mr-martian commented on #9
_Originally posted by @jonorthwash at 2018-06-25T20:36:15Z_

Another way to do this is to have a pair of buttons to adjust the frames tier a little later or earlier until things line up right.

[2019-11-07 02:43] mr-martian commented on #9
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:46:31Z_

Superceded by #27

[2019-11-07 02:43] mr-martian opened #10 "Completion percentage tracker"
_Originally posted by @keggsmurph21 at 2018-03-02T13:58:41Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/10))_

Use the data in the textgrid tiers to track how complete each item (tier, file, directory) is (%).

[2019-11-07 02:43] mr-martian commented on #10
_Originally posted by @jonorthwash at 2018-06-25T20:39:51Z_

Steps to get this working:
* [x] Get display of TextGrid tiers working (#7).
* [x] Number of frames annotated and total in all non-empty intervals for each tier.
* [ ] Implement some form of highlighting (by color of something).

[2019-11-07 02:43] #10 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:43] mr-martian commented on #10
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:44:56Z_

Closed by 1f5748768e00a356aa086cc21c4928fb7d333797

[2019-11-07 02:43] mr-martian opened #11 "Trace data export functionality"
_Originally posted by @keggsmurph21 at 2018-03-02T14:11:23Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/11))_

Want some way to export all of the data from the different traces and files into a coherent table format (.csv? .tsv?) such that it's conducive to plotting/statistical analysis.

[2019-11-07 02:43] mr-martian commented on #11
_Originally posted by @BartholomaeusAstrum at 2019-07-17T18:12:34Z_

Current approach: save dimensionality to metadata file
   when this is done, external program will be able to scrape metadata for this info

[2019-11-07 02:43] mr-martian opened #12 "Testing module"
_Originally posted by @keggsmurph21 at 2018-03-02T16:32:10Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/12))_

write a testing module to open up the script with different filepaths and perform basic operations on each one

[2019-11-07 02:44] mr-martian opened #13 "reset image clears traces"
_Originally posted by @keggsmurph21 at 2018-03-02T16:33:20Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/13))_

fix the reset image button

[2019-11-07 02:44] #13 closed, assigned to nobody

[2019-11-07 02:44] mr-martian commented on #13
_Originally posted by @keggsmurph21 at 2018-03-02T20:31:37Z_

fixed

[2019-11-07 02:44] mr-martian opened #14 "force canvas to scale with window"
_Originally posted by @keggsmurph21 at 2018-03-02T16:40:00Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/14))_

should check window resize events and try to scale the canvas up accordingly

[2019-11-07 02:44] #14 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:44] mr-martian commented on #14
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:43:59Z_

Superceded by #32

[2019-11-07 02:44] mr-martian opened #15 "Undo/redo"
_Originally posted by @keggsmurph21 at 2018-03-02T20:31:26Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/15))_

Lots of the undo/redo functionality was broken when TraceManager class was created ... this shouldn't be difficult to fix but it does need to be done.

[2019-11-07 02:44] #15 closed, assigned to nobody

[2019-11-07 02:44] mr-martian commented on #15
_Originally posted by @keggsmurph21 at 2018-03-06T22:37:10Z_

done, see a755bf1ca24ae8fbbc6b5ddeb0ab2d13e180f292

[2019-11-07 02:44] mr-martian opened #16 "extend documentation"
_Originally posted by @keggsmurph21 at 2018-03-03T17:50:22Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/16))_

- [x] docstrings on functions/classes
- [ ] demonstration of how to use it, all functionality -> README

[2019-11-07 02:44] mr-martian opened #17 "fix relative links for files"
_Originally posted by @keggsmurph21 at 2018-03-05T22:19:57Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/17))_

currently only builds links from the current directory .. need to instead use the path of the UltraTrace.py file

[2019-11-07 02:44] #17 closed, assigned to nobody

[2019-11-07 02:44] mr-martian commented on #17
_Originally posted by @keggsmurph21 at 2018-03-05T23:19:47Z_

fixed ... this shouldn't be a problem because the metadata.json will only live in the data file which doesn't get copied to the repo. might want to think thru this a bit more if these data files live on some sort of distributed network or something (where people will be accessing the same test data & metadata from different machines), b

[2019-11-07 02:44] mr-martian opened #18 "Scrolling broken on certain versions of Python/OSX/Tcl"
_Originally posted by @keggsmurph21 at 2018-03-05T22:27:44Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/18))_

some combinations of installations of Python, operating system, and Tcl/Tk/ActiveState will cause binding <MouseWheel> events to crash the app

interpreter throws this error: `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xfe in position 0: invali

[2019-11-07 02:44] #18 closed, assigned to nobody

[2019-11-07 02:44] mr-martian commented on #18
_Originally posted by @keggsmurph21 at 2018-03-05T22:35:33Z_

__finally__ fixed this error .. it requires overwriting (at least) one line in the tkinter module for python

on my machine, the relevant file lives at `/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/tkinter/__init__.py`

in this file, you can find a variable called `_subst_format` defined on lines 1378-1380 that contai

[2019-11-07 02:44] mr-martian opened #19 "split out functionality for FileManager, FrameManager, DicomManager"
_Originally posted by @keggsmurph21 at 2018-03-05T23:01:58Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/19))_

main class is too crowded and hectic with all this functionality kept in one place ... should pull out functionality à la TextGridManager, etc.

[2019-11-07 02:44] #19 closed, assigned to nobody

[2019-11-07 02:44] mr-martian commented on #19
_Originally posted by @keggsmurph21 at 2018-03-11T19:11:28Z_

done, kept "FileManager" and "FrameManager" in the main app (i think this makes more sense) and "Manager"->"Module"

see 0955c28478791012b234d42bb636aacf4f944685

[2019-11-07 02:44] mr-martian opened #20 "copy/paste "crosshairs""
_Originally posted by @keggsmurph21 at 2018-03-06T12:21:53Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/20))_

allow selected crosshairs to be copied forward onto the next (or any arbitrary) frame to make tracing quicker ...
the buttons & function skeletons for implementing this functionality already exist but haven't been flushed out

[2019-11-07 02:44] #20 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:44] mr-martian commented on #20
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:40:34Z_

Closed by 16de6c33f374edfb682a7f04e987873e6c3a368b

[2019-11-07 02:44] mr-martian opened #21 "persistent window geometry"
_Originally posted by @keggsmurph21 at 2018-03-07T21:54:06Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/21))_

want Tk app to remember last screen position/size so that it opens in the same place with the same dimensions next time

[2019-11-07 02:44] #21 closed, assigned to nobody

[2019-11-07 02:44] mr-martian commented on #21
_Originally posted by @keggsmurph21 at 2018-03-07T22:04:12Z_

done, see 00f5de014a1fc680bb9eb50d51fabe0a3403e053

[2019-11-07 02:44] mr-martian opened #22 "import old tracing files"
_Originally posted by @jonorthwash at 2018-03-26T17:35:34Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/22))_

... unless it already handles them?

[2019-11-07 02:44] #22 closed, assigned to keggsmurph21

[2019-11-07 02:44] mr-martian commented on #22
_Originally posted by @keggsmurph21 at 2018-03-26T19:16:10Z_

nope, it doesn't handle that yet. can you attach some examples of old tracing files so i can look at the data format?

[2019-11-07 02:44] mr-martian commented on #22
_Originally posted by @jonorthwash at 2018-06-25T20:12:49Z_

Or we can write a conversion script.

[2019-11-07 02:44] mr-martian commented on #22
_Originally posted by @jonorthwash at 2018-06-27T04:35:19Z_

I'll add these files to the processed repo in `tracings.old/` directories or similar.  Then I think what should happen is during the initial directory scan, these files should be identified and their data imported.

[2019-11-07 02:44] mr-martian opened #23 "investigate use of parselmouth"
_Originally posted by @jonorthwash at 2018-03-26T17:41:37Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/23))_

The [parselmouth](https://github.com/YannickJadoul/Parselmouth) library could be used for spectrograms and waveforms and stuff.

[2019-11-07 02:44] #23 closed, assigned to mr-martian

[2019-11-07 02:44] mr-martian commented on #23
_Originally posted by @BartholomaeusAstrum at 2018-07-23T19:22:37Z_

We have implemented spectrogram stuff, so we don't need this

[2019-11-07 02:44] mr-martian commented on #23
_Originally posted by @jonorthwash at 2018-07-24T00:00:38Z_

Oh wait, this library looks good!  Why didn't we use it? :-P

[2019-11-07 02:44] mr-martian commented on #23
_Originally posted by @BartholomaeusAstrum at 2018-07-24T16:59:19Z_

I only just noticed that this issue was here... do you want to re-implement with parselmouth?

[2019-11-07 02:44] mr-martian commented on #23
_Originally posted by @jonorthwash at 2018-07-24T18:07:50Z_

Not at this point, but let's plan to do a parallel implementation at some point to test performance (both visually and speed-wise).  Let's just reopen this issue for that.

[2019-11-07 02:44] mr-martian commented on #23
_Originally posted by @jonorthwash at 2019-05-02T20:50:29Z_

This could close #43 if done right.

[2019-11-07 02:44] mr-martian commented on #23
_Originally posted by @jonorthwash at 2019-05-16T22:23:54Z_

Which commit closed this issue?

[2019-11-07 02:44] mr-martian commented on #23
_Originally posted by @mr-martian at 2019-05-16T22:42:02Z_

6de0f6c859f69c1ede16bf9261f6510d2971d9d5
sorry, wasn't sure how to link to commits

[2019-11-07 02:44] mr-martian commented on #23
_Originally posted by @jonorthwash at 2019-05-17T01:20:32Z_

One thing you can do is put "closes #23" in the commit text and the issue will close automatically when the commit is pushed.  I think even mention of "#23" will put a link in this issue to the commit automatically.

[2019-11-07 02:44] mr-martian opened #24 "by-tier filtering of frames"
_Originally posted by @jonorthwash at 2018-06-25T20:19:47Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/24))_

Add functionality that allows the user to select a tier for examining DICOM images from.

When the tier is selected, only frames from non-empty spans in that tier are available.  So the next/previous buttons jump across empty spans.

<s>This requires that

[2019-11-07 02:44] #24 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:44] mr-martian commented on #24
_Originally posted by @BartholomaeusAstrum at 2018-06-26T21:07:27Z_

closed with commit "added radiobuttons..." on 26 June

[2019-11-07 02:44] mr-martian commented on #24
_Originally posted by @jonorthwash at 2018-06-27T04:23:09Z_

The correct way to do this is to put the commit hash, not the commit comment into the issue comment.

[2019-11-07 02:44] mr-martian commented on #24
_Originally posted by @jonorthwash at 2018-06-27T04:23:52Z_

Closed with commit f4b0da7326e29a1723d23d081acd6e8a3845cc7a .

[2019-11-07 02:44] mr-martian opened #25 "Final frame in interval does not display interval content"
_Originally posted by @BartholomaeusAstrum at 2018-06-26T21:09:11Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/25))_

e.g. if frames 112-116 are within a vowel, the display for frame 116 will briefly display the right half of the marker for the vowel interval, which will promptly disappear.

[2019-11-07 02:44] #25 closed, assigned to nobody

[2019-11-07 02:44] mr-martian commented on #25
_Originally posted by @jonorthwash at 2018-06-27T04:25:02Z_

I believe the content half displays and disappears any time you move to a frame that doesn't have the content, not just when you move to the last frame of an interval where the content should exist.

[2019-11-07 02:44] mr-martian opened #26 "Ability to zoom image"
_Originally posted by @BartholomaeusAstrum at 2018-06-27T18:38:13Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/26))_

Attempt to zoom crashes program, and suggested fix does not work

[2019-11-07 02:44] #26 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:44] mr-martian commented on #26
_Originally posted by @jonorthwash at 2018-07-10T04:30:25Z_

This bug only affects OS X (certain versions).  It seems to work on linux, but there are other zoom issues.  See #32.

[2019-11-07 02:44] mr-martian commented on #26
_Originally posted by @mr-martian at 2019-05-17T20:56:18Z_

Fixed as of Python 3.7 - doesn't crash, but doesn't seem to do anything else either

[2019-11-07 02:44] mr-martian commented on #26
_Originally posted by @jonorthwash at 2019-06-07T03:55:12Z_

I'm going to close this for now—zooming works on Mac and Linux by keyboard shortcut, and on Linux by scrollwheel.

[2019-11-07 02:44] mr-martian opened #27 "Ability to adjust frame alignment with audio"
_Originally posted by @jonorthwash at 2018-06-28T14:33:53Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/27))_

The interface should provide some ability to adjust the alignment of the `all frames` tier.  This will include:
- [x] code to move the frames around in the `TextGrid` file,
- [x] an interface to adjust the alignment (will take some thought—perhaps best to

[2019-11-07 02:44] #27 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:44] mr-martian commented on #27
_Originally posted by @jonorthwash at 2018-06-28T14:43:55Z_

Example of base64-encoded frames tier:

Original:
[code]

Encoded:
`ICAgIGl0ZW0gWzRdOgogICAgICAgIGNsYXNzID0gIlRleHRUaWVyIiAKICAgICAgICBuYW1lID0gImFsbCBmcmFtZXMiIAogICAgICAgIHhtaW4gPSAwIAogICAgICAgIHhtYXggPSAyMS4zIAogICAgICAgIHBvaW50czogc2l6ZSA9IDEwODAgCiAgICAgICAgcG9pbnRzIFsxXToKICAgICAgICAgICAgbnVtYmVyID0gMC4xMzUxOTkwMDAwMDAwMDAwNyAKICA

[2019-11-07 02:44] mr-martian commented on #27
_Originally posted by @jonorthwash at 2018-06-28T14:46:18Z_

This is still big.  Maybe it's better to base64 a hash or something?

[2019-11-07 02:44] mr-martian commented on #27
_Originally posted by @jonorthwash at 2019-05-02T20:29:01Z_

Better idea:
- Store an offset as a value in the metadata file.
- Store the original in a new Tier (`all frames.original` or something) that doesn't get touched after there is an offset value.
- Regenerate the offset main Tier as the offset value changes.

[2019-11-07 02:44] mr-martian commented on #27
_Originally posted by @jonorthwash at 2019-05-02T20:57:13Z_

Also relevant: #38, #44, #45.

Also, the spinbox seems to go under the frames Tier.

[2019-11-07 02:44] mr-martian opened #28 "Final empty interval not clickable"
_Originally posted by @BartholomaeusAstrum at 2018-07-02T17:36:11Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/28))_

[2019-11-07 02:44] #28 closed, assigned to nobody

[2019-11-07 02:44] mr-martian commented on #28
_Originally posted by @BartholomaeusAstrum at 2018-07-05T15:17:54Z_

Apparently fixed by stopping using `find_closest` method

[2019-11-07 02:44] mr-martian opened #29 "When zoom into final empty interval, frames disappear"
_Originally posted by @BartholomaeusAstrum at 2018-07-05T15:36:12Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/29))_

[2019-11-07 02:44] mr-martian commented on #29
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:40:02Z_

Not sure what this was about, but it's not happening anymore...

[2019-11-07 02:44] #29 closed, assigned to nobody

[2019-11-07 02:45] mr-martian opened #30 "implement spectrogram"
_Originally posted by @jonorthwash at 2018-07-05T18:15:56Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/30))_

Show a spectrogram lined up with the length of the audio / TextGrid.

The scipy library seems to offer a useful module for this: https://stackoverflow.com/a/44800492/5181692

[2019-11-07 02:45] #30 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian commented on #30
_Originally posted by @BartholomaeusAstrum at 2018-07-17T21:21:14Z_

closed by 9e330e1

[2019-11-07 02:45] mr-martian opened #31 "TextGrid zoom functionality"
_Originally posted by @jonorthwash at 2018-07-05T18:21:16Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/31))_

Should support the following praat-like zoom features:
- [x] `Command`/`ctrl`-`n`: zoom to selected interval
- [ ] `Command`/`ctrl`-`a` ("all"): zoom out to full view
- [ ] `Command`/`ctrl`-`i` ("in"): zoom one step in (= double the size of everything and

[2019-11-07 02:45] #31 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian commented on #31
_Originally posted by @jonorthwash at 2018-07-10T03:58:40Z_

I think this issue is complete?  If so, could you post the commit where the latest relevant functionality was completed and close the issue?

[2019-11-07 02:45] mr-martian commented on #31
_Originally posted by @BartholomaeusAstrum at 2018-07-10T15:13:34Z_

commit 20386022585b20e8529aa48fece15e8848c0b047 closes

[2019-11-07 02:45] mr-martian opened #32 "Zoom issues (frame zooming)"
_Originally posted by @jonorthwash at 2018-07-10T04:33:14Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/32))_

- [ ] Zoom crashes entire application on macOS (#26).
- [x] No way to reset to 1:1 zoom and centered pan?
- [x] When changing between frames, panning is remembered, but zooming is reset to 1:1.
- [x] Panning (`ctrl`+click+drag) doesn't follow dragging spe

[2019-11-07 02:45] mr-martian commented on #32
_Originally posted by @mr-martian at 2019-05-30T20:12:27Z_

various fixes in 42af3edf353b1eb4f50b25865f7ab07a926d1e5a and 11827c2369580e8d114b9b2ad235c8b606b83fc9 (remembers zoom & pan, pan follows mouse)

once during testing "zoom, change frames, trace" led ```getCurrentTraceName()``` to error due to the listbox not being active. Connection uncertain - doesn't always happen

I think this should w

[2019-11-07 02:45] #32 closed, assigned to mr-martian

[2019-11-07 02:45] mr-martian commented on #32
_Originally posted by @mr-martian at 2019-05-30T20:18:45Z_

If image is at default zoom or smaller, it is not possible to pan it above the top of the frame or to the left of the left edge. However this does work if it is zoomed out. The right and bottom edges are never an issue, however.

Also, when image is zoomed out, most actions seem to cause it to move 1 pixel right and downwards. I suspect t

[2019-11-07 02:45] mr-martian commented on #32
_Originally posted by @mr-martian at 2019-06-25T20:30:14Z_

The issues described in the previous comment are fixed by 191752a3165f83f34bf466b4ac45ce69e1f5fd02

[2019-11-07 02:45] mr-martian commented on #32
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:38:43Z_

Closed by b75ed06e251b7d4ddd8462aba80d6964f8e98f4d

[2019-11-07 02:45] mr-martian opened #33 "Optimise dicom processing"
_Originally posted by @jonorthwash at 2018-07-10T04:36:17Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/33))_

- [ ] Use multiple threads to load dicom faster.
- [ ] Clean up variables `pixels`, `arr`, `img` after processed (these eat a certain amount of memory).

[2019-11-07 02:45] mr-martian commented on #33
_Originally posted by @BartholomaeusAstrum at 2018-07-18T20:52:32Z_

This is the profile of the dicom loading function currently:
[code]

[2019-11-07 02:45] mr-martian commented on #33
_Originally posted by @mr-martian at 2019-10-20T21:10:24Z_

Based on this: https://github.com/python-pillow/Pillow/issues/1211

I changed the PNG compression level from the default (6) to 1, resulting in a 10% increase in file size (168.4 MB vs 152.7 MB) and a 57% increase in speed (on the Mac in the lab 37s vs 85s).

[2019-11-07 02:45] mr-martian commented on #33
_Originally posted by @jonorthwash at 2019-10-21T05:27:56Z_

Ah, right, png compression is slow.  This seems like a reasonable trade-off for now.

[2019-11-07 02:45] mr-martian opened #34 "minor rendering issues"
_Originally posted by @jonorthwash at 2018-07-10T04:55:42Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/34))_

- [x] On first load of a file, TextGrid tier labels aren't displayed, even after dicom is processed and loaded.  In order for the labels to be displayed and for things to align correctly, a dicom has to be loaded and the file has to be switched.  See imag

[2019-11-07 02:45] mr-martian commented on #34
_Originally posted by @jonorthwash at 2018-07-24T00:10:23Z_

I think most of these issues would be solved by doing the layout the right way...

[2019-11-07 02:45] #34 closed, assigned to mr-martian

[2019-11-07 02:45] mr-martian commented on #34
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:36:14Z_

2) closed by a94cdb07407536f7837071a1aad6f894446893ec and 4a02b13567e6ddcd969f33a0ae2fbf2d03480e96 (see #47 )
3) closed by 28321a68af1f4c4e2f6062ccac87777c6cbd2932 and maybe c4c4899b8427321a1bb43d7916c9965e90f51ac1
5) closed by 9204463e2b72ce4b7f068c297f74dcd851b783df

[2019-11-07 02:45] mr-martian opened #35 "navigate in textgrid"
_Originally posted by @jonorthwash at 2018-07-10T05:04:11Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/35))_

Implement keyboard shortcuts for navigation in textgrid, probably `ctrl`-`→` and `ctrl`-`←`.  These will go to the next interval on the seleted tier or tier of selected interval.  It should probably recenter on that new interval (at the same zoom level),

[2019-11-07 02:45] #35 closed, assigned to nobody

[2019-11-07 02:45] mr-martian commented on #35
_Originally posted by @jonorthwash at 2018-07-10T05:07:21Z_

An easier feature that might preclude the need for this feature is to follow frame navigation in the TextGrid view.  That is, as new frames are selected (by arrow navigation or by number), as soon as a new frame is outside the current zoom area, a new zoom (probably centered on that new frame) should be established.  I.e., the TextGrid w

[2019-11-07 02:45] mr-martian commented on #35
_Originally posted by @BartholomaeusAstrum at 2018-07-23T19:48:07Z_

Like #42, closed by 58bd112

[2019-11-07 02:45] mr-martian opened #36 "Email IP owner about code use"
_Originally posted by @BartholomaeusAstrum at 2018-07-10T21:37:30Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/36))_

https://courses.engr.illinois.edu/ece590sip/sp2018/spectrograms1_wideband_narrowband.html

[2019-11-07 02:45] #36 closed, assigned to jonorthwash

[2019-11-07 02:45] mr-martian commented on #36
_Originally posted by @jonorthwash at 2018-07-11T20:40:56Z_

He reports that it's all CC-BY, which is one-way compatible with GPL (i.e., it can be incorporated into GPL-licensed software).  It might make sense to put the adaptation of his functions in a separate library, though.

[2019-11-07 02:45] mr-martian commented on #36
_Originally posted by @jonorthwash at 2018-07-24T00:06:24Z_

So I think we should just link to the original (and put the author's name) in the header of each function we're using from there.  For the ones in cython just put it all at the top of that file.  We can use the words "adapted from".

[2019-11-07 02:45] mr-martian commented on #36
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:31:11Z_

His code has been almost entirely replaced -- the only function that has a citation of this is drawInterval() (which honestly looks like it has very little to do with his code, and I'm not sure why it's credited to him.) But there's no harm in leaving the attribution in, I suppose!

[2019-11-07 02:45] mr-martian commented on #36
_Originally posted by @jonorthwash at 2019-07-17T18:12:31Z_

Yeah, maybe change the comment to "originally adapted from ...; now mostly superseded."

[2019-11-07 02:45] mr-martian opened #37 "Scrolling"
_Originally posted by @BartholomaeusAstrum at 2018-07-18T14:32:02Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/37))_

Should be able to pan left/right on interval tiers with arrow keys

[2019-11-07 02:45] #37 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian opened #38 "Adjustment of Frames"
_Originally posted by @BartholomaeusAstrum at 2018-07-18T14:39:23Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/38))_

Should be some kind of miniature control panel (with a spinbox)
with the frames tier label
that allows adjustment of frames by a given time interval
which is saved to the Metadata file

[2019-11-07 02:45] mr-martian commented on #38
_Originally posted by @BartholomaeusAstrum at 2018-07-18T20:14:06Z_

5c0fc81 has basic functionality

[2019-11-07 02:45] #38 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian opened #39 "Time Labels"
_Originally posted by @BartholomaeusAstrum at 2018-07-18T14:40:56Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/39))_

Should be labels for start and end time of visible interval

[2019-11-07 02:45] #39 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian opened #40 "Display Selected Interval on Spectrogram"
_Originally posted by @BartholomaeusAstrum at 2018-07-18T14:48:35Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/40))_

Boundaries of selected interval should display on top of spectrogram

[2019-11-07 02:45] #40 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian opened #41 "Disable control panel arrows"
_Originally posted by @BartholomaeusAstrum at 2018-07-18T16:27:25Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/41))_

Arrows to move frames to not gray out when edge of selected interval reached

[2019-11-07 02:45] #41 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian commented on #41
_Originally posted by @BartholomaeusAstrum at 2019-07-17T18:05:34Z_

Seems good now

[2019-11-07 02:45] mr-martian opened #42 "keyboard arrow shortcuts"
_Originally posted by @jonorthwash at 2018-07-18T20:44:28Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/42))_

A little modification to #35.  Entire list of desired arrow key shortcuts:
- `Command`-`←`/`→`: navigate between intervals on selected tier (i.e., change selected interval to the one left or right).
- `Command`-`↑`/`↓`: navigate between tiers (i.e., chang

[2019-11-07 02:45] #42 closed, assigned to nobody

[2019-11-07 02:45] mr-martian opened #43 "make spectrogram easier to see"
_Originally posted by @jonorthwash at 2018-07-24T00:02:36Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/43))_

Make the spectrogram more intense somehow.

Either use a filter in PIL or do something manually to the array (probably slower?).

[2019-11-07 02:45] mr-martian commented on #43
_Originally posted by @jonorthwash at 2019-05-16T22:23:00Z_

Which commit closed this issue?

[2019-11-07 02:45] #43 closed, assigned to nobody

[2019-11-07 02:45] mr-martian commented on #43
_Originally posted by @mr-martian at 2019-05-16T22:41:31Z_

6de0f6c859f69c1ede16bf9261f6510d2971d9d5

[2019-11-07 02:45] mr-martian opened #44 "Spinbox range"
_Originally posted by @BartholomaeusAstrum at 2018-07-24T17:09:26Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/44))_

Currently hardcoded to +/-1000 millliseconds, and to 1 millisecond intervals

[2019-11-07 02:45] #44 closed, assigned to nobody

[2019-11-07 02:45] mr-martian opened #45 "Function of L/R arrows"
_Originally posted by @BartholomaeusAstrum at 2018-07-26T19:31:38Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/45))_

When spinbox selected, using arrow keys to move in spinbox still shifts frames, which it shouldn't. Probably something to do with taking and having focus.

[2019-11-07 02:45] #45 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian opened #46 "Ability to adjust properties of the spectrogram"
_Originally posted by @jonorthwash at 2019-05-02T20:39:03Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/46))_

Adjustment of view range (ceiling only), window length, and dynamic range using spinboxes next to the spectrogram.

[2019-11-07 02:45] #46 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:45] mr-martian commented on #46
_Originally posted by @jonorthwash at 2019-06-07T03:52:51Z_

I think the controls should be over on the left instead of on the right.

[2019-11-07 02:45] mr-martian commented on #46
_Originally posted by @BartholomaeusAstrum at 2019-06-27T14:58:35Z_

Closed by a553fd5035da13fb84d049ce4a43652f4129c9a1

[2019-11-07 02:46] mr-martian opened #47 "window fit on lower resolution screens"
_Originally posted by @jonorthwash at 2019-05-02T20:41:27Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/47))_

The window should be able to display entire contents at screen with resolution down to 1366x768.

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @jonorthwash at 2019-05-02T20:42:03Z_

Related peripherally to #32.

[2019-11-07 02:46] #47 closed, assigned to mr-martian

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @jonorthwash at 2019-05-16T20:57:39Z_

A proposal:

Detect screen resolution at startup.  If default window size is larger in vertical dimension than screen, then switch to low-res mode.  Low-res mode would adjust the layout so that the controls, the ultrasound image, and the textgrid and spectrogram all take up horizontal space instead of vertical space.

Also, scrollbars on

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @jonorthwash at 2019-05-30T18:18:58Z_

The other issue will be making sure everything is visible on higher resolution screens.

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @jonorthwash at 2019-06-07T03:51:48Z_

I think the content should fit to the window size as it's resized (and the window size should be no bigger than the screen size at startup, cf. also #54).

Everything can collapse as needed as described in #51, and after that, the viewport for the ultrasound frame can shrink.

The viewport should probably remain the same proportions (4:3

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @BartholomaeusAstrum at 2019-07-02T21:19:14Z_

Image spectrogram and tiers currently resize on window resize (at least on Mac.)
Size isn't kept once frame is changed, and new size doesn't play well with zoom and trace functionality. (I might want to turn zoom related things over to Daniel.)

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @BartholomaeusAstrum at 2019-07-03T15:55:10Z_

@mr-martian I'm thinking about how to make the traces stay in the right place when the image size changes when the user resizes the window. I don't fully understand the code that's already there, so there may be a solution that I'm not seeing.

A solution I do see thought, is saving each coordinate of a trace as a number between

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @mr-martian at 2019-07-03T18:29:47Z_

I think I know how to fix the issue by on line 171 in ```ZoomFrame.showImage()``` dividing ```self.imgscale``` by the amount that it has to shrink due to window resizing, but I don't know how to determine that resizing factor. Do you?

I think saving traces as floats in [0,1] rather than pixels would be orthogonal to this issue, but I cou

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @jonorthwash at 2019-07-04T02:33:59Z_

The data I've already traced has half-pixel resolution.  Most traces were traced at 2x zoom, so the data could be accurate to that level.  Do these currently get levelled out on import?  If so, a new issue should be opened for that.  Also, we should continue to support sub-pixel resolutions if annotated when zoomed in.

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @jonorthwash at 2019-07-04T02:49:52Z_

It looks like non-integer traces are still supported.

Otoh, when I trace stuff zoomed in, I get coordinates like this in the metadata file:
[code]

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @jonorthwash at 2019-07-05T21:18:06Z_

@mr-martian fixed this in https://github.swarthmore.edu/PhonLab/dicom-annotator/commit/a94cdb07407536f7837071a1aad6f894446893ec .

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @jonorthwash at 2019-07-05T23:46:58Z_

...and https://github.swarthmore.edu/PhonLab/dicom-annotator/commit/4a02b13567e6ddcd969f33a0ae2fbf2d03480e96

[2019-11-07 02:46] mr-martian commented on #47
_Originally posted by @BartholomaeusAstrum at 2019-07-17T18:02:11Z_

This is basically done except #51 and #52

[2019-11-07 02:46] mr-martian opened #48 "frame 0 not selectable"
_Originally posted by @jonorthwash at 2019-05-02T20:48:20Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/48))_

Might be related to #41.

[2019-11-07 02:46] #48 closed, assigned to mr-martian

[2019-11-07 02:46] mr-martian commented on #48
_Originally posted by @BartholomaeusAstrum at 2019-06-03T15:29:11Z_

All frames are selectable -- the frame numbers in the file names begin counting at 0, and the frame numbers in the app begin at 1.
Would you like me to change one or the other, to make them consistent?

[2019-11-07 02:46] mr-martian commented on #48
_Originally posted by @jonorthwash at 2019-06-03T15:43:07Z_

Probably a good idea to change them to be consistent.  Let's start all the frames at 1.  (Though double check first that this is how DICOM does it?)

[2019-11-07 02:46] mr-martian commented on #48
_Originally posted by @jonorthwash at 2019-06-03T15:43:44Z_

Also, double check the already existing trace data—we don't want that to get off by one when we change this.

[2019-11-07 02:46] mr-martian commented on #48
_Originally posted by @BartholomaeusAstrum at 2019-06-05T17:03:26Z_

closed by 5ab11772e039445436441e137265f090ff8d3143

[2019-11-07 02:46] mr-martian opened #49 "load dicom button disappears"
_Originally posted by @jonorthwash at 2019-05-17T19:08:55Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/49))_

If you switch from a file not loaded to one already loaded, the "load dicom" button disappears.

[2019-11-07 02:46] #49 closed, assigned to nobody

[2019-11-07 02:46] mr-martian commented on #49
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:28:11Z_

Now has expected behavior, which is that "Load DICOM" button appears for DICOM files that have not been loaded and disappears when DICOM has been. Closed by 9204463e2b72ce4b7f068c297f74dcd851b783df

[2019-11-07 02:46] mr-martian opened #50 "list time index of current frame in the middle of the time scale at the bottom"
_Originally posted by @jonorthwash at 2019-05-17T19:09:25Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/50))_

[2019-11-07 02:46] #50 closed, assigned to mr-martian

[2019-11-07 02:46] mr-martian commented on #50
_Originally posted by @jonorthwash at 2019-11-02T02:07:40Z_

What is the time index aligned with?  Seems not to be centered.

![Screenshot from 2019-11-01 22-05-03](https://github.swarthmore.edu/storage/user/3330/files/048bc780-fcf4-11e9-848b-de5452e0812b)

[2019-11-07 02:46] mr-martian commented on #50
_Originally posted by @mr-martian at 2019-11-02T03:12:46Z_

I forgot to check that. I think it's aligned with the center of the initial window but it doesn't resize. 7fdf3e7 should fix it.

[2019-11-07 02:46] mr-martian commented on #50
_Originally posted by @jonorthwash at 2019-11-02T03:31:11Z_

Yep, centers well on resize now!

[2019-11-07 02:46] mr-martian opened #51 "collapsable tiers"
_Originally posted by @jonorthwash at 2019-05-17T20:02:20Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/51))_

Tiers should all start at ~⅕ of their current height, with no text.  They should be expandable (and it should remember expanded/collapsed status for the remainder of the session) to look how they are now.  The controls can be down/up arrow next to tier na

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @mr-martian at 2019-10-16T23:13:36Z_

Double clicking on the tier label will now toggle the height between 60px (default) and 15px.
Issues:
- Collapsing and then expanding can cause some of the trace control buttons to get covered up
- Tier labels disappear because I didn't work out how to properly reposition the text
- Doesn't work on frames tier

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @jonorthwash at 2019-10-17T03:23:59Z_

I wonder if scroll-down (for collapse) and scroll-up (for expand) events on the tiers themselves could also be tied to this.

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @jonorthwash at 2019-10-17T03:29:53Z_

I think one of the issues in repositioning the text is that it has too much padding, just like the text in the tiers, cf. some of the things in #53.

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @mr-martian at 2019-10-17T14:06:35Z_

I bound it to double click just so there would be a binding. It is now also bound to scroll.

I also added a slightly ugly solution to get the tier names to display when collapsed (or, it wasn't ugly, but then I found myself manually shifting the text by 7 pixels...).

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @jonorthwash at 2019-10-17T14:39:48Z_

I meant scroll on the tiers themselves, not [just] the labels.

It looks nice here.  I wonder if it renders the same on Mac or with different themes.

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @mr-martian at 2019-10-18T22:01:02Z_

Done, though scroll up on collapsed tiers is a little tricky

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @mr-martian at 2019-10-20T20:46:22Z_

Text positioning looks fine on Mac, but the bindings for scrolling don't seem to be working (`<Button-4>` and `<MouseWheel>` both have no effect).

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @jonorthwash at 2019-10-21T05:29:45Z_

Yeah, I think scroll issues on Mac are generally a larger tkinter bug.

[2019-11-07 02:46] mr-martian commented on #51
_Originally posted by @jonorthwash at 2019-11-02T03:39:29Z_

I think the main things remaining for this issue are:
- all tiers should start in collapsed mode by default
- tiers either shouldn't have text (but have some mechanism showing that they aren't empty?) or should show as much text as will fit (if any) and then "..."?
- it should be checked whether expanded/collapsed status is remembered fo

[2019-11-07 02:46] mr-martian opened #52 "spectrogram collapses to waveform"
_Originally posted by @jonorthwash at 2019-05-17T20:08:06Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/52))_

Like #51 but for the spectrogram.

[2019-11-07 02:46] mr-martian opened #53 "minor æsthetic issues with text in intervals"
_Originally posted by @jonorthwash at 2019-05-23T03:31:45Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/53))_

- [ ] reduce line spacing
- [ ] tooltip with full contents when hovered
- [ ] don't show edges of adjacent intervals when zoomed (as with the words around "traveler" in the attached screenshot, which was zoomed to)
![screenshot from 2019-05-22 23-30-39](h

[2019-11-07 02:46] mr-martian opened #54 "extremely small window size when first started"
_Originally posted by @jonorthwash at 2019-05-23T16:39:56Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/54))_

When started for the first time (on my linux system), the window size was extremely small (to the point that I couldn't even find it) and had to be resized.

To be considered in solving #47.

[2019-11-07 02:46] mr-martian opened #55 "port to Ttk"
_Originally posted by @jonorthwash at 2019-05-27T23:37:08Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/55))_

Apparently ttk supports [cross-platform] system theme stuff much better than tk; otherwise they appear to be largely the same.

[2019-11-07 02:46] mr-martian commented on #55
_Originally posted by @BartholomaeusAstrum at 2019-06-25T18:30:29Z_

Started with 59ef4ac9e0798b8fd18e35474972754ba53fa7c7
Deemed closeable by 90ecc193dc97bd87c3ace1c06a1f22ba937208f5

[2019-11-07 02:46] #55 closed, assigned to nobody

[2019-11-07 02:46] mr-martian opened #56 "make sure alignment of spectrogram and TextGrids is right"
_Originally posted by @jonorthwash at 2019-05-30T18:17:06Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/56))_

The spectrogram currently appears to line up with TextGrid differently than in Praat.  See for example the beginning of the vowel in the attached
![screenshot from 2019-05-30 14-13-12](https://github.swarthmore.edu/storage/user/3330/files/772bed80-82e5-11

[2019-11-07 02:46] #56 closed, assigned to nobody

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @jonorthwash at 2019-05-30T18:18:11Z_

Might be an issue with the TextGrids, perhaps related to #48.

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @BartholomaeusAstrum at 2019-06-05T18:45:07Z_

Here's what it looks like on slide 040 from P03. I can't tell if it's off, or if they're just being rendered differently...

<img width="1131" alt="screen shot 2019-06-05 at 2 43 20 pm" src="https://github.swarthmore.edu/storage/user/3234/files/60334280-87a0-11e9-8ad2-c1d4198ec782">
<img width="1249" alt="screen shot 2019-06-05 a

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @jonorthwash at 2019-06-05T20:50:42Z_

They're definitely rendered differently.  If you set window length to 0.0025s and dynamic range to 50dB in Praat, you get the following.  Compare to your screenshot from UltraTrace and you'll see that it seems to be off a bit, but maybe in different directions at the two ends? (??)  Specifically, UltraTrace seems to start later but end e

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @BartholomaeusAstrum at 2019-06-06T21:26:49Z_

I think I've fixed it, by figuring out the right amount of time to add to the beginning and end of the audio snippet used to create the spectrogram. I have all my reasoning/algebra on the board in the PhonLab, though there's still a small aspect where I'm confused why it works...

<img width="1284" alt="screen shot 2019-06-06 at

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @jonorthwash at 2019-06-07T03:42:10Z_

That certainly looks much better.  One test to make sure it's right might be to see if it moves around at all.

Also, it would be good to document your reasoning elsewhere too.

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @BartholomaeusAstrum at 2019-06-21T16:14:54Z_

I extracted 10ms, 11ms, and 12ms audio clips, and drew spectrograms for each (from top to bottom) with a window size of 5ms and time step of 2ms.
The first two spectrograms (10&11ms) are 2ms long, and the last (12ms) is 4ms long.

![spectrograms](https://github.swarthmore.edu/storage/user/3234/files/84d41f00-941c-11e9-8e9c-34eea5

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @jonorthwash at 2019-06-21T18:05:09Z_

@mr-martian, would you mind taking this issue from here?  The goal is to figure out how much padding is needed given a segment of audio of known length in order for a spectrogram of exactly that length to be generated.

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @jonorthwash at 2019-06-21T18:57:51Z_

Also note that the first two images appear to show only one step's worth of results of FFT, whereas the last appears to show two step's worth of results of FFT.

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @mr-martian at 2019-06-21T19:52:20Z_

As far as I can tell, what's happening is that it's removing 1 window size worth of time steps from either end, and then taking off a bit more if the result isn't an integer multiple of the time step.

So, with window length 5ms and time step 2ms, it will always take 4ms off each end.
[code]
With window length 5ms and time step 3ms, it ta

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @jonorthwash at 2019-06-21T20:04:53Z_

...before getting the spectrogram, but also not send this for playback.

And also we should pad the whole file's spectrogram with that much I guess too?

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @mr-martian at 2019-06-21T20:07:42Z_

I had it pad by that much unless doing so would take it out of bounds. The padding applies only to the call to parselmouth.Sound.extract_part(), the result of which is only used in spectrogram construction.

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @jonorthwash at 2019-06-21T23:14:09Z_

That sounds like a reasonable approach.

If we want to be really accurate, we could put graphical padding on the side of spectrograms where it would be out of bounds.  But assuming most audio files are tens of seconds long, then we're probably close enough for all situations.

I'll test out the behaviour soon and follow up here.

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @BartholomaeusAstrum at 2019-06-24T17:54:22Z_

@mr-martian, I added the extra amount you recommended to both the beginning and end of the audio clip. Is that what you meant? When I added it just to the end, it was clearly wrong, but this way I'm pretty sure is right.

<img width="1219" alt="screen shot 2019-06-24 at 1 47 04 pm" src="https://github.swarthmore.edu/storage/user/

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @mr-martian at 2019-06-24T17:59:01Z_

Didn't my commit already do that? Why are you adding ```extra/2``` rather than ```extra``` at the end?

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @BartholomaeusAstrum at 2019-06-24T17:59:51Z_

Hmmmm I see that somehow when I pulled I didn't see the changes you made -- I'll go revert to yours :P

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @BartholomaeusAstrum at 2019-06-24T18:02:43Z_

@mr-martian fixed now! Thank you

[2019-11-07 02:46] mr-martian commented on #56
_Originally posted by @jonorthwash at 2019-06-24T18:06:45Z_

I can confirm that @mr-martian's code appears to behave exactly as expected.

[2019-11-07 02:46] mr-martian opened #57 "Shfting TextGrid Points below 0 causes errors"
_Originally posted by @BartholomaeusAstrum at 2019-06-03T21:17:59Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/57))_

When the frametimes in the app are shifted, the matching points are automatically updated in the corresponding TextGrid file. Unfortunately, when the shift takes the points below 0, negative timestamps get copied into the TextGrid file, which thro

[2019-11-07 02:46] #57 closed, assigned to nobody

[2019-11-07 02:46] mr-martian opened #58 "Changing frame after selected frame has been shifted outside time bounds"
_Originally posted by @BartholomaeusAstrum at 2019-06-05T16:37:09Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/58))_

E.g. when frame 1 is selected, and then the frames tier is shifted such that frame 1 and frame 2 are no longer in the TextGrid, pressing the right arrow "selects" frame 2, and causes a display error.
Instead, arrows should either not have an effec

[2019-11-07 02:46] mr-martian opened #59 "Empty TextGrids causing glitches"
_Originally posted by @BartholomaeusAstrum at 2019-06-05T18:39:06Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/59))_

A TextGrid without a frames tier, or a TextGrid with an empty frames tier, cause the annotator to glitch/fail to compile.
Should it throw an error message? Should it be able to deal with empty/missing tiers?

[2019-11-07 02:47] mr-martian opened #60 "animation of ultrasound frames to match audio playback"
_Originally posted by @jonorthwash at 2019-06-07T04:01:11Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/60))_

When playback is started/stopped/paused, the appropriate ultrasound frames should play/stop/pause in synchronisation with the audio.

This is likely hard.  Threads might be involved?  Also have a look at https://stackoverflow.com/questions/55197752/playin

[2019-11-07 02:47] #60 closed, assigned to nobody

[2019-11-07 02:47] mr-martian commented on #60
_Originally posted by @jonorthwash at 2019-06-13T18:29:46Z_

Check this:
https://stackoverflow.com/questions/39523011/matplotlib-animation-for-audio-player-cursor-sliding-vertical-line-with-blitt

[2019-11-07 02:47] mr-martian commented on #60
_Originally posted by @jonorthwash at 2019-06-17T21:06:21Z_

Also potentially useful: https://stackoverflow.com/questions/16220638/python-tkinter-coords-function-not-moving-canvas-objects-inside-loop

[2019-11-07 02:47] mr-martian commented on #60
_Originally posted by @jonorthwash at 2019-06-17T21:13:43Z_

Also useful?  https://www.reddit.com/r/Python/comments/7rp4xj/threading_a_tkinter_gui_is_hell_my_least_favorite/

[2019-11-07 02:47] mr-martian commented on #60
_Originally posted by @jonorthwash at 2019-06-18T20:11:49Z_

Also useful: https://stackoverflow.com/questions/25430786/moving-balls-in-tkinter-canvas/25431690#25431690

[2019-11-07 02:47] mr-martian commented on #60
_Originally posted by @BartholomaeusAstrum at 2019-06-20T16:34:06Z_

Tried implementing it with pre-writing the images, and then lifting them one by one -- it is a lot slower.

[2019-11-07 02:47] mr-martian commented on #60
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:26:17Z_

Is mostly working, but have yet to find a way that spits out video frames fast enough to keep pace with the audio on Mac. Maybe worth making into a different issue?

[2019-11-07 02:47] mr-martian commented on #60
_Originally posted by @jonorthwash at 2019-07-18T02:07:44Z_

Probably worth opening a new issue as suggested, i.e. as a bug for solving in the future.

[2019-11-07 02:47] mr-martian opened #61 "ability to select (and play) span in spectrogram"
_Originally posted by @jonorthwash at 2019-06-25T02:07:43Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/61))_

Click and drag on spectrogram should allow selection of a subsection of time.  The frames in that selection should be activated, and that section should be playable.

[2019-11-07 02:47] mr-martian commented on #61
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:24:46Z_

closed by d614f0d0b05b3c6986d77f87676bf1219eaf03c7

[2019-11-07 02:47] #61 closed, assigned to nobody

[2019-11-07 02:47] mr-martian opened #62 "traces should also be animated when video plays"
_Originally posted by @jonorthwash at 2019-06-25T02:08:53Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/62))_

As each frame appears its traces should also appear.

[2019-11-07 02:47] mr-martian commented on #62
_Originally posted by @mr-martian at 2019-10-28T01:03:30Z_

Turns out drawing the traces onto the image files while the playback module is loading them isn't as slow as I was afraid it would be (I can perceive a slight slowdown but only because I've been watching the same playback for the last hour). Works on Linux and Mac.

[2019-11-07 02:47] #62 closed, assigned to mr-martian

[2019-11-07 02:47] mr-martian commented on #62
_Originally posted by @jonorthwash at 2019-11-02T05:39:13Z_

I only get playback of traces when the first frame of a selection isn't traced.  Otherwise, the first trace in the range stays put throughout playback.

[2019-11-07 02:47] mr-martian opened #63 "traced points change position when images zoomed and panned"
_Originally posted by @jonorthwash at 2019-06-25T03:12:38Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/63))_

When zoom and pan of an image is changed, the trace points of that frame appear in different positions when the frame is displayed again.
![screenshot from 2019-06-24 22-26-35](https://github.swarthmore.edu/storage/user/3330/files/59c82480-96d5-11e9-9b3d-

[2019-11-07 02:47] #63 closed, assigned to mr-martian

[2019-11-07 02:47] mr-martian commented on #63
_Originally posted by @jonorthwash at 2019-06-25T03:14:10Z_

@mr-martian, would you be able to tackle this one?  It seems to be related to your fixes to zooming and panning.

[2019-11-07 02:47] mr-martian commented on #63
_Originally posted by @jonorthwash at 2019-06-25T16:48:31Z_

I believe the previous behaviour was (and definitely the desired behaviour is) for the points to seemlessly zoom with the image, and for the coordinates not to be modified by zooming and panning (regardless of display issues).  Also, when points are moved in a zoomed or panned view, their new position should be consistent across zoom and

[2019-11-07 02:47] mr-martian commented on #63
_Originally posted by @mr-martian at 2019-06-25T20:32:11Z_

Fixed in 86868bb33d5ee60dad584ef978c246151c661da2 and 191752a3165f83f34bf466b4ac45ce69e1f5fd02

[2019-11-07 02:47] mr-martian opened #64 "each zoom action appears to be replayed on changing each frame"
_Originally posted by @jonorthwash at 2019-06-25T17:00:30Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/64))_

If you zoom a lot and then change frames, you get messages like this on each frame load:

[code]

This appears to be because it's replaying the zoom events.  (This doesn't seem to be the case with pan events?)

Really it should remember the view (zoom lev

[2019-11-07 02:47] mr-martian commented on #64
_Originally posted by @jonorthwash at 2019-06-25T17:00:48Z_

@mr-martian, this appears to be related to your code too.  Mind looking at it?

[2019-11-07 02:47] #64 closed, assigned to nobody

[2019-11-07 02:47] mr-martian commented on #64
_Originally posted by @mr-martian at 2019-06-25T20:31:13Z_

Fixed in 663c12d1923dc8d2c9917e29226bdae18bea3e57

[2019-11-07 02:47] mr-martian opened #65 "play back in zoomed/panned state"
_Originally posted by @jonorthwash at 2019-06-25T17:03:26Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/65))_

It would be really great to have playback work with whatever view the user has set.

Note that currently the view isn't forgotten; it just isn't used during playback.

[2019-11-07 02:47] #65 closed, assigned to mr-martian

[2019-11-07 02:47] mr-martian commented on #65
_Originally posted by @jonorthwash at 2019-06-25T17:03:39Z_

@mr-martian, care to tackle this one too?

[2019-11-07 02:47] mr-martian commented on #65
_Originally posted by @mr-martian at 2019-06-25T20:36:15Z_

@jonorthwash playback of what?

[2019-11-07 02:47] mr-martian commented on #65
_Originally posted by @jonorthwash at 2019-06-25T20:57:53Z_

@mr-martian, audio/video (frame animation).  Select a section of TextGrid and press space bar.

[2019-11-07 02:47] mr-martian commented on #65
_Originally posted by @mr-martian at 2019-10-28T00:26:33Z_

Tested on both Mac and Linux.

[2019-11-07 02:47] mr-martian opened #66 "fix tooltips"
_Originally posted by @jonorthwash at 2019-06-25T18:53:17Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/66))_

Move to Ttk (#55) broke tooltips.

[2019-11-07 02:47] #66 closed, assigned to nobody

[2019-11-07 02:47] mr-martian commented on #66
_Originally posted by @BartholomaeusAstrum at 2019-07-02T21:17:14Z_

Seems to be fixed now...

[2019-11-07 02:47] mr-martian commented on #66
_Originally posted by @jonorthwash at 2019-07-09T19:00:30Z_

Not entirely working on linux: the tooltips are weird-looking (extra border?) and empty:
![Screenshot from 2019-07-09 14-59-51](https://github.swarthmore.edu/storage/user/3330/files/44690380-a25a-11e9-8c24-d09ead990b6e)

Maybe check what the "right way" to do them in Ttk is?

[2019-11-07 02:47] mr-martian commented on #66
_Originally posted by @jonorthwash at 2019-07-09T19:03:30Z_

Aha, seems to be a bug in the theme I was using, as with the empty-looking spinners:
![Screenshot from 2019-07-09 15-02-44](https://github.swarthmore.edu/storage/user/3330/files/b5a8b680-a25a-11e9-9b71-8c17be82c845)

[2019-11-07 02:47] mr-martian opened #67 "use or emulate dynamic range instead of using contrast"
_Originally posted by @jonorthwash at 2019-06-25T21:20:44Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/67))_

[code]

[2019-11-07 02:47] #67 closed, assigned to nobody

[2019-11-07 02:47] mr-martian commented on #67
_Originally posted by @BartholomaeusAstrum at 2019-06-26T19:42:15Z_

b4302d9a4b7485c395a5716428699c1eeac3bbdf brings it close to praat, but not exactly the same

[2019-11-07 02:47] mr-martian commented on #67
_Originally posted by @jonorthwash at 2019-07-09T19:23:06Z_

It's probably close enough.  We can open this later if needed.

[2019-11-07 02:47] mr-martian opened #68 "Buttons with focus active when <space> pressed"
_Originally posted by @BartholomaeusAstrum at 2019-06-27T18:54:15Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/68))_

After using one of the clickable buttons, it retains focus. When user then presses space to play a video, button also activates automatically.

[2019-11-07 02:47] mr-martian commented on #68
_Originally posted by @jonorthwash at 2019-09-13T18:43:51Z_

Focus stuff in general is screwy.

[2019-11-07 02:47] #68 closed, assigned to mr-martian

[2019-11-07 02:47] mr-martian commented on #68
_Originally posted by @jonorthwash at 2019-11-02T02:08:57Z_

Textboxes should also unfocus.

[2019-11-07 02:47] mr-martian commented on #68
_Originally posted by @mr-martian at 2019-11-02T03:07:48Z_

Should that maybe be under #78?

[2019-11-07 02:47] mr-martian commented on #68
_Originally posted by @jonorthwash at 2019-11-02T03:31:32Z_

Yep, sorry!

[2019-11-07 02:47] mr-martian opened #69 "Bugs in resize"
_Originally posted by @BartholomaeusAstrum at 2019-07-03T14:58:30Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/69))_

When app initialized spectrogram and tiers don't start at correct size for geometry

[2019-11-07 02:47] mr-martian commented on #69
_Originally posted by @jonorthwash at 2019-09-13T18:32:34Z_

Now this seems to mostly affect the ultrasound image.

[2019-11-07 02:47] #69 closed, assigned to mr-martian

[2019-11-07 02:47] mr-martian commented on #69
_Originally posted by @jonorthwash at 2019-10-11T17:01:35Z_

Current understanding of this bug:

1. Ultrasound image doesn't resize when window resizes, but it should.

2. When ultrasound image does resize, fits on wrong dimension so it goes off screen.  It should fit within the confines of the space it has, with everything visible.

[2019-11-07 02:47] mr-martian opened #70 "Click and Drag"
_Originally posted by @BartholomaeusAstrum at 2019-07-03T15:00:35Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/70))_

Would be great if click on spectrogram selected nearest frame
Selected frame highlights location on spectrogram (in a different color?)
Maybe even drag interval selects that interval & displays it?

[2019-11-07 02:47] mr-martian commented on #70
_Originally posted by @jonorthwash at 2019-07-05T20:11:55Z_

Yeah, the click on spectrogram highlighting line and the one that appears on the spectrogram when a frame is selected should probably be the same line (and formatted the same).

[2019-11-07 02:47] #70 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:47] mr-martian commented on #70
_Originally posted by @BartholomaeusAstrum at 2019-07-09T14:46:05Z_

Switch colors (red <> blue)

[2019-11-07 02:47] mr-martian commented on #70
_Originally posted by @BartholomaeusAstrum at 2019-07-09T19:51:47Z_

All dealt with except click and drag on spectrogram

[2019-11-07 02:47] mr-martian commented on #70
_Originally posted by @BartholomaeusAstrum at 2019-07-17T17:24:00Z_

Closed by d614f0d0b05b3c6986d77f87676bf1219eaf03c7

[2019-11-07 02:47] mr-martian opened #71 "metadata file should store relative paths"
_Originally posted by @jonorthwash at 2019-07-04T02:54:56Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/71))_

Currently the metadata file stores absolute paths to `.flac`, `.dicom`, `.TextGrid`, cached images, etc.

It would be better if paths were saved as (and reconstructed based on being) relative to the directory the metadata file is in.  The primary reason f

[2019-11-07 02:47] #71 closed, assigned to nobody

[2019-11-07 02:47] mr-martian opened #72 "Dealing with DICOMs with no TextGrid"
_Originally posted by @BartholomaeusAstrum at 2019-07-17T18:41:03Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/72))_

- go into DICOM info and get frame rate (which might be wrong but it's OK) and number of frames
- create TextGrid with just a frames tier
- write frames at distance of frame rate onto frames tier from end of tier
- save new TextGrid in correct pla

[2019-11-07 02:47] mr-martian commented on #72
_Originally posted by @jonorthwash at 2019-10-11T17:30:40Z_

@mr-martian, this is also relevant for supporting the new format of data.

[2019-11-07 02:47] mr-martian opened #73 "Retain highlighting when selected interval not displayed"
_Originally posted by @BartholomaeusAstrum at 2019-07-23T15:15:58Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/73))_

When I scroll so that the highlighted interval is off screen, and then scroll back, the interval does not return to the screen highlighted.

[2019-11-07 02:47] mr-martian opened #74 "Cross-platform problems"
_Originally posted by @BartholomaeusAstrum at 2019-08-02T15:59:55Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/74))_

- Don't use "path" from metadata file, instead caculate correct value at startup and use that. (But you can leave the part in the metadatafile, just rename it 'firstrun_path")
- if folder of loaded pngs is absent (but specified in the metadata fil

[2019-11-07 02:48] mr-martian commented on #74
_Originally posted by @BartholomaeusAstrum at 2019-08-02T21:06:04Z_

Closed by 313b540a96e83bae985174fecc85d03be03d6d85

[2019-11-07 02:48] #74 closed, assigned to BartholomaeusAstrum

[2019-11-07 02:48] mr-martian opened #75 "Account for absent files"
_Originally posted by @BartholomaeusAstrum at 2019-08-02T16:01:52Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/75))_

- gray out 'Load DICOM' button if file cannot be found
- if a given frame's image is absent, catch the error and don't display anything (for now)

[2019-11-07 02:48] mr-martian opened #76 "linux-specific: textgrids and spectrogram don't resize with window"
_Originally posted by @jonorthwash at 2019-09-13T18:33:23Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/76))_

Textgrids and spectrogram don't resize with window resize on linux.

[2019-11-07 02:48] #76 closed, assigned to mr-martian

[2019-11-07 02:48] mr-martian commented on #76
_Originally posted by @mr-martian at 2019-09-28T23:21:04Z_

There's at least a partial solution. It calls the textgrid resizing function on window-level configure events and also ignores multiple configure events if they happen within 100 ms of each other.

Unfortunately I can't currently test to be sure that this works on not-Linux.

[2019-11-07 02:48] mr-martian commented on #76
_Originally posted by @mr-martian at 2019-10-11T15:24:47Z_

Just tested on Mac and it appears to work.

[2019-11-07 02:48] mr-martian opened #77 "playback should preserve zoom level"
_Originally posted by @jonorthwash at 2019-09-13T18:46:32Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/77))_

[2019-11-07 02:48] #77 closed, assigned to mr-martian

[2019-11-07 02:48] mr-martian commented on #77
_Originally posted by @jonorthwash at 2019-09-13T18:55:35Z_

Duplicate of #65.

[2019-11-07 02:48] mr-martian opened #78 "general focus issues"
_Originally posted by @jonorthwash at 2019-09-13T18:53:05Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/78))_

`Enter` and `esc` should unfocus textboxes.

Buttons should probably unfocus after click.

[2019-11-07 02:48] mr-martian commented on #78
_Originally posted by @mr-martian at 2019-11-01T20:12:54Z_

As of 230c34070643ec4bc683ba49cb4eda1d650acafd all buttons unfocus after click.

[2019-11-07 02:48] mr-martian commented on #78
_Originally posted by @jonorthwash at 2019-11-02T03:31:42Z_

Textboxes should also unfocus.

[2019-11-07 02:48] mr-martian opened #79 "Click and drag to select time ranges seems to be broken"
_Originally posted by @jonorthwash at 2019-09-13T18:53:46Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/79))_

[2019-11-07 02:48] mr-martian commented on #79
_Originally posted by @jonorthwash at 2019-09-13T18:55:15Z_

Original issue: #70.

[2019-11-07 02:48] mr-martian opened #80 "Trace controls can become inaccessible on resize"
_Originally posted by @mr-martian at 2019-10-20T20:51:25Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/80))_

Previously reported in #51

If the window height becomes too small, the spectrogram controls move on top of the trace controls, making the Undo, Redo, and Reset image buttons inaccessible.

[2019-11-07 02:48] mr-martian opened #81 "load .ult files natively"
_Originally posted by @jonorthwash at 2019-10-28T04:21:44Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/81))_

There's already preliminary work on converting .ult data to PNGs here: https://github.swarthmore.edu/PhonLab/ultrasound-data-TatarKQ-191001/blob/master/extract.py

[2019-11-07 02:48] mr-martian opened #82 "detect the type of data in the loaded directory and load accordingly"
_Originally posted by @jonorthwash at 2019-10-28T04:25:49Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/82))_

Have the program decide between two modes based on the contents of the directory it's pointed to:
- DICOM: has .dcm/.dicom files potentially matching .flac/.wav and .TextGrid (and potentially legacy format traces)
- ULT: has .ult files potentially matchin

[2019-11-07 02:48] mr-martian opened #83 "Video playback does not properly restore state"
_Originally posted by @mr-martian at 2019-10-30T03:55:01Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/83))_

Video playback should end by restoring the frame that was in view before it started.

After playback has happened once, subsequent runs do not play audio and only display a single frame, which has the traces of multiple frames.

[2019-11-07 02:48] #83 closed, assigned to mr-martian

[2019-11-07 02:48] mr-martian opened #84 "interval contents search feature"
_Originally posted by @jonorthwash at 2019-11-02T05:09:40Z ([original issue](https://github.swarthmore.edu/PhonLab/dicom-annotator/issues/84))_

Develop an interface to search the contents of TextGrid intervals and jump to any interval clicked on from among the results.

I imagine a pane on the right side of the interface, probably hidden by default (but a button to toggle its visibility, probably

[2019-11-07 02:48] mr-martian commented on #84
_Originally posted by @jonorthwash at 2019-11-02T05:26:53Z_

It might also be nice to be able to save searches.  Let's see how the basic functionality goes first, though, and then maybe we can make saving searches a new issue.

[2019-11-14 02:50] mr-martian commented on #84
![Screenshot from 2019-11-13 21-41-59](https://user-images.githubusercontent.com/5350777/68822253-72be7b80-065e-11ea-8dc2-79560825ad0a.png)

Current search interface.

Clicking on any part of the displayed data will jump to the relevant interval and maximize it (roughly the same behavior as Command-N).

I tried to bind `<Enter>` in the search box, but it didn't work properly on Mac or Mint and wou

[2019-11-20 04:54] jonorthwash opened #85 "proper logging support"
Everything printed to the console should use a proper logger, with "WARNING", "ERROR", "INFO", etc. type messages.

[2019-11-20 16:21] keggsmurph21 commented on #85
I actually have this implemented on my fork.  I'll merge upstream sometime this weekend.

[2019-11-23 02:37] jonorthwash commented on #85
Oh, that's cool!  I'd actually started to poke at it too, but I'll wait for your pushes.

@keggsmurph21, this illustrates one reason why "commit early, commit often"¹² is a useful mantra.  It's often the first line of communication between collaborators.

Speaking of which, don't you have direct commit access to this repo?

¹ https://sethrobertson.github.io/GitBestPractices/#commit
² https://www.a

[2019-11-23 21:58] BartholomaeusAstrum opened #86 "Using arrow keys to move between frames"
When a text box becomes selected (e.g. when changing the offset of the audio and the frametimes), the arrow keys only move the cursor within the text box, and the body of the program no longer responds to it.

[2019-11-24 01:09] mr-martian commented on #86
See #45 and #78. I understood the current behavior to be what we wanted. Arrows control both cursors and frames but not both at the same time.

[2019-11-24 02:33] BartholomaeusAstrum commented on #86
Daniel let me know that <esc> has this functionality! All good

[2019-11-24 02:33] #86 closed, assigned to mr-martian, BartholomaeusAstrum

[2019-11-24 02:56] mr-martian commented on #78
Closed with c270fe0

[2019-11-24 02:56] #78 closed, assigned to mr-martian

[2019-11-24 03:13] mr-martian commented on #79
Shift+Click+Drag works for me.

[2019-11-24 03:40] jonorthwash commented on #79
Ah, me too.  Something about UI part of this isn't great, but it does work.

[2019-11-24 03:40] #79 closed, assigned to mr-martian

[2019-11-24 04:01] BartholomaeusAstrum opened #87 "Playing video with traces"
When playing the audio+video for intervals that have traces, the trace of the selected frame persists during the video, while the traces of all the other frames are also shown as expected.

[2019-11-25 00:48] mr-martian commented on #80
Perhaps something like this: https://gist.github.com/mp035/9f2027c3ef9172264532fcd6262f3b01

[2019-12-02 05:15] jonorthwash commented on #85
@keggsmurph21, any updates on this?

[2019-12-02 20:34] keggsmurph21 commented on #85
Sorry, I haven't gotten around to this yet.  I'll work on it now.

And yes, I do have direct commit access, but I had started working on rewriting some pieces of this lib, and decided to do that via a fork so that we could continue pushing this branch forward.  (I guess I could have also just made a new branch in this repository...)

[2019-12-02 21:50] keggsmurph21 commented on #85
Done, see 889358b

[2019-12-02 21:50] #85 closed, assigned to nobody

[2019-12-03 01:02] jonorthwash commented on #85
This looks great.  It's worth noting that there are out-of-the-box logging libraries.  But this is nice and simple—additional dependencies are already a problem with UltraTrace...

I'm thinking it might be nice to put distributed libraries in a subdirectory somewhere to keep the main directory clean.

[2019-12-03 01:11] keggsmurph21 commented on #85
I'll open a separate issue

[2019-12-03 01:12] keggsmurph21 opened #88 "Manage non-standard libraries"
It might be nice to keep a copy of all of the external libraries we depend on somewhere (e.g. under `/lib`) so that we don't have to rely on the user installing with `pip` or `conda` or whatever.

[2019-12-03 01:14] keggsmurph21 commented on #85
@jonorthwash see #88

Also, regarding python's standard `logging` module (and other third party ones), we probably don't even need that level of complexity, since we'll (presumably?) only ever have one logger (i.e. the main app-level one) and one place to log to (i.e. `stderr`).

[2019-12-03 03:02] jonorthwash commented on #88
Actually, what I meant wasn't putting external libraries into a folder—I'm happy with users using pip, etc.

What I had in mind was putting things like the new logging library and anything else we separate out from the main `UltraTrace.py` file into a subdirectory (as opposed to leaving them in the root directory) in order to keep the main directory of the repo clean.

[2019-12-03 03:04] kmurphy4 commented on #88
Ah, that makes sense.  I've actually been implementing something along these lines -- I pushed ~25 commits today that restructure the code formerly in in `UltraTrace.py` (without really rewriting any of it).

Have you checked that out?

[2019-12-03 03:14] jonorthwash commented on #88
Oh my.  Yes, that's what I had in mind, I guess.  I wasn't imagining separating *everything* out [yet], but okay.

So... how is UltraTrace run now?

[2019-12-03 03:16] kmurphy4 commented on #88
Just `python3 -m ultratrace /path/to/data` (`-m` is for "module").

[2019-12-03 06:21] jonorthwash commented on #88
From within the main code directory or from within the directory containing the code's root directory?

[2019-12-03 06:23] jonorthwash commented on #88
Also, this is a little less than ideal.  Before we could just execute the `UltraTrace.py` script, either from within the directory or from elsewhere, e.g.
[code]
Is there a way we could make it this easy again?

[2019-12-03 06:39] kmurphy4 commented on #88
From within the repo's main directory:

[code]

I'll add a little executable wrapper tomorrow that will restore this
functionality to something like:

[code]

Sorry for the confusion, but I think using Python native modules is the
best way to go, even if it makes calling a bit awkward (since this allows
us to have hierarchical imports & such).

On Mon, Dec 2, 2019, 10:23 PM Jonathan Washington <no

[2019-12-03 06:40] kmurphy4 commented on #88
Regarding portability of the executable wrapper, can I assume that this
will only be run on MacOS & Linux? I don't have a Windows environment to
test with.

On Mon, Dec 2, 2019, 10:38 PM Kevin Murphy <kevin.murphy@everlaw.com> wrote:

[2019-12-03 16:27] keggsmurph21 commented on #88
I added an executable and an installation script [here](https://github.com/SwatPhonLab/UltraTrace/compare/1e16e1946fecc23b120b5bd130b53fde5e010f68..3f99f476d0bf460b42dab8d028a2eb33d05dc17e).  They work on my Ubuntu system, but I haven't had the chance to test on MacOS (I'm a little worried about the `readlink` command ... I'm not sure MacOS calls it the same thing).

The executable gives you the s

[2019-12-03 18:24] jonorthwash commented on #88
I agree.

Thanks.  Yes, this looks like the right approach.  I can test on Debian, Mac, and Windows and let you know.

(I don't even know how to run python stuff on Windows, but I guess I'll figure it out.  Maybe I'll try WSL?)

In the future, that installation script could (should?) check/install/update external dependencies, with the method for doing so depending on the OS.  We could also do som

[2019-12-03 18:29] kmurphy4 commented on #88
I'm only vaguely familiar with `make`.  Is that invoking the `install(1)` command?

[2019-12-03 18:37] keggsmurph21 commented on #88
Also, if we're going down this rabbit hole, we could set up a [travis-ci](https://travis-ci.com/plans) pipeline for free since we're an open source project.

[2019-12-03 19:26] jonorthwash opened #89 "remaining work on loading native data"
- [x] Finish #81 (merge code)
- [x] Merge code for reading native Philips DICOM data
- [x] Add interface option for reading native Philips data or pixel data when both available
- [x] Figure out what last 32 bytes of Philips native data is
  - appears to be just padding (all 0s)
- [ ] Figure out how to deal with native xPlane data (@mr-martian should get IRB approval to work with these files).

[2019-12-03 20:45] jonorthwash opened #90 "use native timestamp data to bootstrap TextGrid"
When a DICOM + audio file pair is loaded, a TextGrid should be automatically generated (kind of working already, see #72).  This TextGrid should be created with intervals based on the timestamps in the Philips data, and should be saved immediately to the directory that the existing files are in.

The method already in place should be a fallback if there is not native frametime data or if there's a

[2019-12-04 15:18] jonorthwash commented on #88
With that Makefile, you would just run `make install`, potentially with `sudo`, and it would execute the commands in the `install` block.

[2019-12-04 15:20] jonorthwash commented on #88
Yeah, that's the sort of thing I had in mind when I brought up virtualisation.  But that's a down-the-road sort of thing.  Maybe we could open an issue for it so we don't forget about it, and worry about it later.

[2019-12-04 17:15] keggsmurph21 commented on #88
Right, I understand that part of it.  I was curious about the actual contents of the `install` block (is "target" the right lingo?) though :)

[2019-12-05 02:15] mr-martian commented on #89
Two new todos:
- [x] The old code stored "FrameTime" and "NumberOfFrames" in the metadata file, but I have not implemented that in the new code
- [ ] None of the display options are selected by default, so at startup no image appears. Perhaps there should be a default (store in metadata which one we used last time?)

[2019-12-05 16:22] jonorthwash opened #93 "GUI redesign"
The GUI (at least the control area) needs to be redesigned a bit.

I like the results of our initial experiments with icons.  See also the concepts in `/dev`, e.g. https://github.com/SwatPhonLab/UltraTrace/blob/master/dev/gui-mockup.svg

[2019-12-05 16:23] jonorthwash commented on #93
@keggsmurph21, I think this task would be up your alley (a little more than for the rest of us at least).

[2019-12-05 16:25] BartholomaeusAstrum opened #94 "Does not run on lab Mac"
Here's what I tried to do, and the error I got:

[code]

[2019-12-05 16:25] BartholomaeusAstrum commented on #94
Trying to run on a different directory generates a different error:

[code]

[2019-12-05 17:33] keggsmurph21 commented on #94
Regarding the first error, it looks like `TextGrid::makeFrameWidget` was never called, although it's hard to see exactly why without your dataset.  You can try to debug that yourself by applying this patch to enter the python debugger when you encounter that error:

[PATCH-debug-missing-frames-canvas.txt](https://github.com/SwatPhonLab/UltraTrace/files/3928236/PATCH-debug-missing-frames-canvas.txt

[2019-12-05 17:44] keggsmurph21 commented on #93
I'll look into this.  I had tried to get my hands dirty a few weeks ago, but got frustrated with `tkinter`, so I started writing a [declarative markup language that would wrap around tkinter](https://github.com/keggsmurph21/tkml) specifically for this purpose.  (In fact, I've been using [this](https://github.com/keggsmurph21/tkml/blob/master/examples/ultratrace.tkml) as my reference file.)

Finish

[2019-12-05 19:10] jonorthwash commented on #94
I believe this is an issue @mr-martian identified this morning.

@BartholomaeusAstrum, try checking out an earlier commit (`git checkout commithash`) to get around it until a fix is found.

[2019-12-05 21:21] mr-martian commented on #94
Yeah, I pushed some incomplete changes last night, so probably just stick with 4c54f9d02a74404e6be71d2815abe6d159ea9f64 and I'll finish the file processing stuff in the next few days hopefully.

For the second error, I forgot check what happens if there is neither a dicom nor a ult found.

[2019-12-05 22:15] mr-martian commented on #94
Should be fixed as of 8d7c172.

The issue was ultimately that the textgrid module was calling `Metadata.unrelativize` multiple times on the same path and thus erroring due to trying to open a non-existent textgrid file.

[2019-12-05 23:14] #87 closed, assigned to mr-martian, BartholomaeusAstrum

[2019-12-05 23:16] #72 closed, assigned to BartholomaeusAstrum

[2019-12-05 23:16] #82 closed, assigned to mr-martian

[2019-12-05 23:17] mr-martian commented on #59
The above commit deals with missing frames tiers. I haven't looked at empty frames tiers yet.

[2019-12-06 16:22] BartholomaeusAstrum commented on #94
"Extract to PNGs" does not correctly load pre-existing PNGs. Script tries to load from `/Volumes/ResearchAssistant/ultrasound/processed.git/P04/dicom/048_dicom_to_png/048_frame_0001.png` whereas the files are at `/Volumes/ResearchAssistant/ultrasound/processed.git/P04/048_dicom_to_png/048_frame_0001.png`

Full trace:
[code]

[2019-12-06 16:24] BartholomaeusAstrum commented on #94
Also received another error when I tried loading a file with already-generated PNGs:
[code]

[2019-12-06 16:28] BartholomaeusAstrum commented on #84
Crashes on regex search

[code]

[2019-12-06 16:58] kmurphy4 commented on #94
That second one is my fault. I'll submit a patch shortly. Sorry about that!

[2019-12-06 17:07] keggsmurph21 commented on #94
Should be fixed in 5d5c410, @BartholomaeusAstrum can you verify?

[2019-12-06 17:11] keggsmurph21 commented on #84
@BartholomaeusAstrum should be fixed in e4113de

[2019-12-07 02:03] jonorthwash commented on #88
I'm actually not all that familiar with how `install` works, but `man install` gives some info.

[2019-12-11 21:22] mr-martian commented on #94
@BartholomaeusAstrum does 69829bb fix the png location issue?

[2019-12-11 22:01] mr-martian commented on #75
done in 5666d9f

[2019-12-11 22:01] #75 closed, assigned to BartholomaeusAstrum

[2019-12-11 22:01] #81 closed, assigned to mr-martian

[2019-12-11 22:51] #59 closed, assigned to nobody

[2019-12-11 23:00] mr-martian commented on #90
For DICOM, timestamps generated by us are 16.44ms earlier than timestamps from the matlab script (at least, for the example data). (We currently set the first timestamp to 0.)

[2019-12-12 05:04] mr-martian opened #95 "Document DICOM and ULT decoders"
I never wrote down what we figured out about how the files are structured. I probably should.

[2019-12-12 18:34] BartholomaeusAstrum commented on #94
PNG location issue is fixed!

[2019-12-12 18:37] BartholomaeusAstrum opened #96 "Program exit on unknown error (something to do with traces?) EDIT: on mouse scroll"
I was placing crosshairs on a frame and the program suddenly quit can gave the error below. It may have happened as I clicked to place the crosshair? Otherwise I am not sure what triggered the error. On restart everything seems to be behaving as normal.

[code]

[2019-12-12 18:46] BartholomaeusAstrum opened #97 "Refresh of PNG and data extraction options on change of file"
On change of file, the old PNG remains displayed, and the old data extraction option (read pixel data, read unannotated, extract to PNGs) remains selected. Clicking around the tiers does not update the PNG either. It is not visually obvious that one of the data extraction options needs to be selected again anew in order to continue viewing PNGs.

[2019-12-12 19:04] BartholomaeusAstrum commented on #94
Now the program can't create new PNGs. It seems like it's looking for pre-existing ones instead. My attempt to generate PNGs for slide 058 (by selecting "Extract to PNGs") generated the following error:

[code]

[2019-12-12 19:04] BartholomaeusAstrum commented on #94
I also just noticed the following error generated on startup: may be unrelated.
[code]

[2019-12-12 19:14] BartholomaeusAstrum commented on #96
Same error occurred again, I think on mouse scroll while mouse was over the PNG.

[code]

[2019-12-12 19:19] BartholomaeusAstrum commented on #94
"Read pixel data" seems to still work

[2019-12-12 19:24] BartholomaeusAstrum commented on #96
Program exits on scroll on Mac mouse trackpad.

[2019-12-12 21:16] kmurphy4 commented on #96
Yep, maybe best to wrap everything in a
[code]
At least until we figure out the cause of this bug ....

[2019-12-17 23:32] keggsmurph21 opened #102 "Add entrypoint to setup.py"
@calebho

[2019-12-18 00:06] #102 closed, assigned to nobody

[2019-12-18 01:01] calebho opened #104 "Test coverage for ultratrace2"
Related to #12. Need a test suite to provide confidence that changes in the future don't break things. Every change should also include a set of tests which exercise the feature/bugfix.

To do:

ultratrace2

 - [ ] model
   - [ ] files
     - [ ] loaders
       - [ ] base.py
       - [x] dicom.py
       - [ ] flac.py
       - [ ] measurement.py
       - [ ] mp3.py
       - [ ] ogg.py
       - [ ]

[2019-12-18 01:31] keggsmurph21 opened #107 "Data storage"
We want to store some data about each project.  This issue should just be for organizing / brainstorming how we want that data to be stored.  My current idea is to, for each `Project` that we open (i.e., pass as a `path` on the command line or open in the `filedialog`):
 - store "metadata" (this was called `metadata.json` in version 1.0
 - store PNG images converted from raw DICOM

One obvious sol

[2019-12-18 02:12] keggsmurph21 commented on #107
So, assuming the second case, we'll want `projects.pkl` to have this sort of structure:
[code]
Then, we would have some sort of API like
[code]

[2019-12-18 03:02] mr-martian commented on #107
Also note that we currently have 4 methods of getting image data from 2 file types and only 1 of those needs to write files to disk.

[2019-12-18 03:11] keggsmurph21 commented on #107
Yep, hopefully this will abstract away those details.  By the way, @mr-martian do you have any `.ult` files I could test against?

[2019-12-18 03:13] mr-martian commented on #107
Check with @jonorthwash, currently they're on Swat github.

[2019-12-18 14:56] jonorthwash commented on #107
I have a couple thoughts here:
- We definitely want traces stored somewhere easy for the user to find, and ideally stored with other project data.
- I'm happy with write access to project directory being a requirement.  A user can always symlink in files from a directory they can't write to into one they can.
- I'd like file names not to be hashes that have to be checked elsewhere.  This is actual

[2019-12-18 16:28] #97 closed, assigned to mr-martian

[2019-12-18 17:27] kmurphy4 commented on #107
Thanks for the reply Jonathan. Regarding your points,

 1) Agreed.  Also, storing the trace data directly with the files obviates the need to explicitly handle the case where users move the directory -- this should just work out of the box.
 2) Ok, if you think that's a reasonable assumption, let's go with that. It's definitely the simpler implementation.
 3) My only concern here is that the hashe

[2019-12-18 18:41] mr-martian commented on #107
Regarding 4, how much extra time might JSON incur? @BartholomaeusAstrum have you ever noticed any such slowdown?

And would pickle make it difficult to read old files if we ever modify anything in the data structure?

What if we separated the metadata from the traces and had the trace data in some relatively compressed and easy to read/write format?

[2019-12-18 19:00] kmurphy4 commented on #107
Well I have not benchmarked it, so I can't say for sure, but iterating over each `(file,trace,crosshairs)` could take a long time for projects with a large number of those tuples. On the other hand, `pickle.load()` is more similar to `mmap`ing the relevant data in one go.

Further, development time is much quicker with `pickle` since we don't have to make those serialization decisions yet. Once we

[2019-12-19 04:18] calebho opened #110 "RFC: File format loaders"
cc: @keggsmurph21

Sharing some thoughts on how `ultratrace2.model.files` could be implemented/refactored...

The current approach is to have a class for each kind of file (alignment, image, and sound) containing loader implementations for the accepted file formats. In order to support a new file format for a given file kind, one needs to add a class definition to the respective class. For example

[2019-12-19 04:36] keggsmurph21 commented on #110
This sounds great.  One small thing is that I think we should have
[code]
instead of specific ones for each loader subcategory, since the consumer will just be iterating through a tree of files, and each particular file should only be loaded by one `Loader`.

[2019-12-19 04:41] keggsmurph21 commented on #110
or even
[code]

[2019-12-19 04:41] keggsmurph21 commented on #110
OK, I'm going to start implementing this and see what falls out.  Thanks for the g00d ideaz

[2019-12-19 04:57] keggsmurph21 commented on #110
@calebho do you think it makes more sense to return the type or the constructed object? i.e.
[code]

[2019-12-19 05:18] keggsmurph21 commented on #110
[code]
We may still need to do resolution here, since `loader_clses` could potentially have `len` >1

[2019-12-19 06:11] calebho commented on #110
Yeah I meant to return `Type[...]` originally.

What's the use case for having multiple loaders for a single extension?

[2019-12-19 17:12] keggsmurph21 commented on #110
What if someone wants to add their own custom `WAVLoader`? I'm not sure if we should support that, but it's worth consideration.

[2019-12-19 17:14] keggsmurph21 commented on #110
Also, with https://github.com/SwatPhonLab/UltraTrace/commit/cf17cff973426b050998db3254a24c29a9eda9e2 it turns out we don't want/need generics.  The abstract `ImageSetFileLoader` can just have an abstract `::get_frame(i: int) -> PIL.Image.Image` method.  We don't really need similar functionality from `AlignmentFileLoader` or `SoundFileLoader`.

Tests still need to be written for this stuff of cour

[2019-12-19 17:16] keggsmurph21 commented on #104
Tests for `App` implemented starting with 274beae4ba2ead74f037d2f7c26fe123c75c3048

[2019-12-19 19:15] jonorthwash commented on #107
I think in general, the approach of rewriting the file (whether json or pickle) every time a crosshair is modified isn't the best idea.  Perhaps the model should be something like save on updates, except no more often than every 30 seconds (or however much).

[2019-12-19 19:17] jonorthwash commented on #107
Also, I don't mind having metadata and traces stored separately, but do note that scripts that do analysis will need to read both (and also the TextGrids).

[2019-12-19 20:16] keggsmurph21 commented on #107
I think one way to handle minimizing extraneous saves is to hook into
Python’s signal library, which would allow us to run a function on program
exit. Then we could have something like

import signal
from .app import app  # global singleton ref
def on_exit_hook(*args):
    app.save()

signal.signal(signal.EXIT, on_exit_hook)  # don't recall exact API

On Thu, Dec 19, 2019 at 11:17 AM Jonathan Wash

[2019-12-19 20:26] jonorthwash commented on #107
What I worry about here is in issues of program instability (crashes), random power outage, etc., we would lose a lot of work.  I much prefer periodically saving the data.

[2019-12-19 20:37] kmurphy4 commented on #107
So theoretically, this would protect against crashes but not system
outages. Periodic saves would be a good compromise. If we're worried about
performance, we could try to figure out some sort of background process
solution, but that seems unlikely.

This could also be a parameter that the user sets, e.g.
`--autosave-interval 30`.

On Thu, Dec 19, 2019, 12:26 PM Jonathan Washington <notifications@

[2019-12-19 20:38] jonorthwash commented on #110
I think @mr-martian is actively working on file reader stuff, so it might be good to coordinate so you don't step on each others' feet.

[2019-12-19 20:41] jonorthwash commented on #107
I don't need it to save every 30 seconds; it's more that it'd be better to wait 30 seconds between saves than to keep saving repeatedly if data is being updated multiple times a second.  I think the general approach of saving when data is updated is better than periodic saves or save-on-close—the only problem with this approach is hitting the disk so often, which is what the short wait I propose i

[2019-12-19 20:42] kmurphy4 commented on #107
Sorry, I meant 30 seconds as a max.  So yes, I agree with you.

On Thu, Dec 19, 2019, 12:41 PM Jonathan Washington <notifications@github.com>
wrote:

[2019-12-19 20:43] keggsmurph21 commented on #110
I'm thinking we'll incorporate that functionality from "upstream", and just
adapt it to the new API.

On Thu, Dec 19, 2019, 12:38 PM Jonathan Washington <notifications@github.com>
wrote:

[2019-12-19 20:44] jonorthwash commented on #96
The problem with this approach is that now the program doesn't seem to close when closed by the user.  It has to be force-closed.

[2019-12-19 20:46] jonorthwash commented on #107
I don't understand this part either, btw.  The are enough moving parts that could fail that anything could crash.  I don't see how saving at the end protects against this, or protects data from being lost if a crash were to happen.

[2019-12-19 20:46] jonorthwash commented on #110
Okay, you guys working in a branch?

[2019-12-19 20:54] jonorthwash commented on #90
This is because in the example data the alignment of frames was done from the end of the recording.  And given that, I don't know if the last frame was decided as being right at the end or what.

[2019-12-19 20:56] jonorthwash opened #112 "load AAA-exported traces"
Related to #81, AAA-exported splines (traces) should be loadable.

One of the problems with this is that AAA can export splines with arbitrary amounts of metadata.  The current example AAA data (Qumuq) includes what is probably close to a bare minimum of metadata to match the splines to frames in the ULT files.

[2019-12-19 21:58] jonorthwash opened #113 "logo for UltraTrace"
There should be a nice logo / app icon for UltraTrace.

[2019-12-19 22:00] jonorthwash commented on #93
@keggsmurph21, any thoughts/progress on this?

[2019-12-19 22:00] keggsmurph21 commented on #96
My suggestion would be to add a `break` after `app.mainloop()` in the `try`-body

[2019-12-19 22:06] keggsmurph21 commented on #107
Here's a proof-of-concept (I realized that the library I was thinking of is actually called `atexit`) -- running this file:
[code]
gives this result:
[code]

That means that as long as we don't crash _in the function body of `App::save`_, then we should be able to just register this hook and rely on it being called even if we crash for unknown reasons (besides segfaults, which are pretty rare).

[2019-12-19 22:08] keggsmurph21 commented on #110
Well, we've been committing mostly to the `ultratrace2` directory.  I am currently working in the `manage-multiple-projects` branch (#107), but am hoping to merge that in to `master` soon.

[2019-12-19 22:10] keggsmurph21 commented on #90
@jonorthwash what do you mean by "Philips data" ?

@mr-martian which matlab script?

[2019-12-19 22:11] keggsmurph21 commented on #112
What is AAA?

[2019-12-19 22:16] keggsmurph21 commented on #93
Yeah I've thought a bit about it. @calebho and I think we could probably hack some improvements together with `tkinter`, but it would be relatively ugly / difficult to maintain.

We're going to explore some alternatives (probably do a small POC with some subset of `wxPython`, `PyQt`, and/or javascript via RPC) once we have the model API nailed down a bit more.

[2019-12-19 22:18] keggsmurph21 commented on #107
[The docs](https://docs.python.org/3/library/atexit.html#atexit-example) have a more extended example if you're curious.

[2019-12-19 23:29] mr-martian commented on #90
@keggsmurph21 The Phillips data is the DICOM files (in contrast to ULT). My understanding is that most of the timestamp data we currently have comes from a proprietary Matlab script that we got from Phillips.

[2019-12-19 23:29] mr-martian commented on #110
Two complications that might be relevant:
- There are 3 distinct ways of loading `.dicom` files (reading from pixel data, reading pngs extracted from pixel data, and reading from the private use area)
- Loading `.ult` files actually requires the loader to know about two different files: `.ult` and a metadata file for which I have the extension get set to `US.txt`

[2019-12-19 23:35] kmurphy4 commented on #90
Where does that script live? On your computer?

[2019-12-19 23:36] mr-martian commented on #90
I was told that it only worked on Windows and I haven't ever touched it.

[2019-12-19 23:37] kmurphy4 commented on #110
Do we generate that metadata file ourselves?

[2019-12-19 23:38] mr-martian commented on #110
No, it is generated by the recording device.

[2019-12-19 23:39] kmurphy4 commented on #110
Ok, so we should require that file to also be present in order to decide `.ult` files, right?

[2019-12-19 23:41] mr-martian commented on #110
Yes. `xyz.ult` comes with `xyzUS.txt` which is a plain text file containing the image dimensions and a few other things.

[2019-12-19 23:43] kmurphy4 commented on #110
Thanks! Will keep this in mind

[2019-12-20 00:39] jonorthwash commented on #112
http://www.articulateinstruments.com/aaa/

[2019-12-20 00:59] keggsmurph21 commented on #112
lmao, hopefully it will follow :^)

Thanks, @jonorthwash !

[2019-12-20 01:25] calebho commented on #110
Then they would overwrite the default using the registry API. It doesn't make much sense to me to have more than one loader at once for one file format.

[2019-12-20 01:38] keggsmurph21 commented on #110
That's probably a sensible behavior.  I responded to this more fully [here](https://github.com/SwatPhonLab/UltraTrace/pull/109#discussion_r360195178).

[2019-12-21 23:48] jonorthwash commented on #90
The Philips data is the raw data we read from DICOMs.  We can also read the DICOM pixel data natively or cache it as PNGs.  The pixel data is not Philips data; the "raw" ultrasound data is.

Well, we used a library from Philips that only runs on (old versions of?) Matlab for Windows to dump timestamps for each frame, and we aligned those with the end of files in TextGrids (the frames tiers).

Howe

[2019-12-21 23:51] jonorthwash commented on #93
I think some hacks in tkinter would be good for the abstract (due Jan 15).  Reimplementing everything can wait until after we have the abstract in.

[2019-12-21 23:52] jonorthwash commented on #112
If you click on the AAA tab [downloads page](www.articulateinstruments.com/downloads/), there's a lot more info.

[2019-12-27 22:44] keggsmurph21 opened #119 "Interpret TextGrid trigraphs as Unicode"
When we display a TextGrid widget, we could automatically interpret `\`-escaped strings as Praat "special symbols".  See [Praat docs](http://www.fon.hum.uva.nl/praat/manual/Special_symbols.html) for more info.

[2019-12-28 22:51] mr-martian opened #120 "ULT file loader issues with closing"
Prior to a46cf45, `.ult` files were copied into a temporary file. However, sometimes only part of the file was copied, so now the file is just opened directly. However, I think this now means that the `.ult`s don't get closed when we switch files.

[2019-12-28 22:55] mr-martian commented on #112
I have now, in some sense, gotten data from `SPLINES.dat` into `metadata.json`. However, it will take some further experimentation to get the image dimensions right. It's also possible I'm associating them with the wrong frames and I'm wondering if there's a chance it might actually be in polar coordinates.

[2019-12-29 17:44] jonorthwash commented on #112
Two things:
- The frames can be be exported in polar coordinates, but that's not how I chose to export them in this case.
- The image dimensions should be based on the edges of the frame.

[2019-12-29 17:49] jonorthwash commented on #112
This is how tracing in AAA looks (with Qumuq data).
![Screenshot from 2019-12-29 12-44-32](https://user-images.githubusercontent.com/963849/71560539-0d212580-2a39-11ea-85b0-528e97b9d233.png)

[2019-12-29 17:50] jonorthwash commented on #112
The are spaced at every _n°_ intersect, probably every 1°.

[2019-12-29 18:06] mr-martian commented on #112
@jonorthwash I can't read the screen, could you tell me what file and frame that is?

[2019-12-29 18:17] jonorthwash commented on #112
I'm not sure.  You can probably tell the former from the length of the target words in the list and the percent through the list it is, and the latter from the numbers under the image.  But it looks like the trace probably isn't right anyway.  The point was to show you what it looks like broadly.

I can look at traces and potentially assess what's wrong with them..

[2019-12-29 18:35] jonorthwash opened #121 "allow users to run normally without root"
Currently to run the script normally `install.sh` seems to require sudo.  Users should be able to run install `UltraTrace.py` into a user bin directory, or even just run it in situ.

[2019-12-29 20:39] keggsmurph21 commented on #121
Just to clarify, you're talking about [`install.sh`](https://github.com/SwatPhonLab/UltraTrace/blob/master/install.sh), not [`bin/install`](https://github.com/SwatPhonLab/UltraTrace/blob/master/bin/install), right?  For the record, `bin/install` is basically deprecated at this point in favor of a `pip`-installable architecture.

Regarding `install.sh`: all this script does is install system-level

[2019-12-30 01:13] mr-martian commented on #112
![Screenshot from 2019-12-29 20-12-13](https://user-images.githubusercontent.com/5350777/71564994-935c5c80-2a77-11ea-9a86-c13c70e25291.png)
I think I figured it out.

[2019-12-30 01:16] mr-martian commented on #112
It currently imports all traces as red and ignores anything with a set confidence interval below 50.

It also assumes that all columns in `SPLINES.dat` past the first 3 are either rectangular coordinates or confidence intervals, which might not be entirely true.

[2019-12-30 05:06] keggsmurph21 commented on #121
Implemented in dfa0c6d.  I'll leave this for you to close in case you had other concerns :^)

[2019-12-30 05:51] jonorthwash commented on #112
It seems it is importing them into the different layers though ("Tongue", "Roof"), so recolouring is straightforward.

A few things I see:
- A black background would be good for the images, instead of white
- The frames in the `frames` tier aren't lining up with the annotations in the `annotation_0` tier.
- The "Read scan line data" should be selected by default if it's the only one, so that ultra

[2019-12-30 05:54] jonorthwash commented on #112
Correct.  It should probably be based on substrings "X,Y values" and "Confidence values" in the headers, the former matching 84 columns and the latter matching 42.

[2019-12-30 14:42] jonorthwash commented on #121
Ah, I thought this was for putting the "executable" in `$PATH`.  How is this done?

What I had in mind here was in regards to running the program.  Now I'm using `bin/ultratrace/ultratrace`, which works without putting it in path, but it might be nice if there were a symlink or wrapper script in the root directory of the repo.

[2019-12-30 14:43] jonorthwash commented on #121
I thought we already supported not loading UltraTrace modules that had uninstalled dependencies?

[2019-12-30 14:44] jonorthwash commented on #121
It would be really nice to be able to install (and keep maintained) dependencies with apt or brew or equivalent.

[2019-12-30 18:39] keggsmurph21 commented on #121
Eventually (i.e., in the next few weeks), we'd like to publish this module to `PyPI`, and then users would be able to `pip install ultratrace` and automatically<sup>*</sup> get `ultratrace` on their `$PATH`.

Right now, it is possible to change the install location, although it requires manually editing the `bin/install` script [here](https://github.com/SwatPhonLab/UltraTrace/blob/e295eec5a7a5697a

[2019-12-30 18:49] #88 closed, assigned to nobody

[2019-12-30 18:49] keggsmurph21 opened #123 "Create installable packages"
This is more of a long-term goal, but ideally we could maintain packages on
 - [ ] `pip` (PyPI)
 - [ ] `conda` (conda-forge)
 - [ ] `apt` (Debian / Ubuntu / Mint)
 - [ ] `brew` (MacOS)
 - [ ] `pacman` (Arch / Manjaro)
 - [ ] `yum` (Fedora / CentOS / RHEL)
 - [ ] `pkg` (FreeBSD)
 - [ ] `chocolatey` (Windows)
 - [ ] ... others?

See also: #121, #88

[2019-12-30 19:51] jonorthwash commented on #121
I have no objections to this plan, but this is not great for developers.  I guess we'll want to continue running it however works best for development and bypass pip.

[2019-12-30 19:52] jonorthwash commented on #121
Yeah, this is almost certainly true.

[2019-12-30 19:52] jonorthwash commented on #121
+1

[2019-12-30 20:37] mr-martian commented on #121
I can confirm that none of my code uses it.

[2019-12-31 03:30] keggsmurph21 opened #124 "Coalescing filenames intended behavior"
Currently, we attempt to associate / coalesce files by their filename.  In the normal case, that means we will see a directory such as
[code]
and determine that there is a `file00` container with three associated files, which we will use to populate our widgets.  Note: in the `1.0` architecture, this is basically equivalent to `Metadata::getFileLevel`, and in the `2.0` architecture, this is handle

[2019-12-31 08:25] calebho opened #126 "RFC: Electron backend design"
cc: @keggsmurph21

Since the UI is written in React and our backend is in Python, I think it makes the most sense to have the main Electron process use some Node API to spawn a simple Python web server which serves the stuff we have in Python already. I think Flask will be sufficient for this use case.

To handle the client-server communication, the two ways I'm most familiar with doing this in we

[2019-12-31 15:55] kmurphy4 commented on #126
I agree that GraphQL would ultimately be a better choice, but my main concern is that I've never used it before. On the other hand, I'm very familiar with RESTful APIs, and I could get that up and running quickly.

I can try to hack something together in Flask in the next few days.  Do we want to spec out the API here?

[2019-12-31 18:08] jonorthwash commented on #124
...

This sounds exactly right.  And imo the priority ranking should be something like `flac` > `wav` > others.

I could see people having their files organised like that.  Maybe something like

[code]

Perhaps we could find a way to support this structure.  In this case, `recording00` and `recording01` become the "file" names (that currently appear in the dropdown).

Yes, name of the link.  Somet

[2019-12-31 18:45] keggsmurph21 commented on #124
This is all implemented in #125.

Currently, the `SoundFileLoader` priorities are
 - `flac` : 4
 - `wav`: 3
 - `ogg`: 2
 - `mp3`: 1

I agree that this would make sense to support, although I think it's fairly difficult to automatically guess.  For example, we would also theoretically want to support
[code]
To me, this feels like a problem we should solve later.

:+1:

[2020-01-02 07:49] calebho commented on #124
Assigning integer priorities at register time seems a bit cumbersome and error prone. If you want to add a new file loader, you need to make O(# loaders) changes in the worst case.

What if we have a file which specifies the priorities as a list `L` where loader `L[i]` has higher priority over loader `L[j]` iff `i < j`? This way you have priority information in one place as opposed to scattered ac

[2020-01-02 07:58] calebho commented on #123
As far as I know, there aren't any `pip` or `conda` packages which install Electron applications. I think supporting those system package managers should suffice. I think we can also use GitHub releases to publish archives of the application so that folks can grab it straight from here

[2020-01-02 08:37] calebho commented on #126
IMO, it's not super difficult to grasp the server-side for GraphQL. To make an analogy to REST:
* REST read endpoints correspond to GraphQL queries
* REST write endpoints correspond to GraphQL mutations

see https://graphql.org/learn/schema/#the-query-and-mutation-types as an example. Consider this snippet from the example:
[code]
In GraphQL-speak, `hero` and `droid` are root queries. In REST-spea

[2020-01-02 19:32] jonorthwash opened #127 "alignment of frames and intervals"
Frames and intervals don't seem to always align.

In attached screenshot, the two black frames are the annotated ones that should align with the small interval in the "annotation_0" tier.
![Screenshot from 2020-01-02 14-29-20](https://user-images.githubusercontent.com/963849/71687861-aec3b200-2d6c-11ea-87ae-2bfd016fb0c1.png)

[2020-01-02 19:36] jonorthwash commented on #127
The location in the spectrogram that they should both align to is much later in the file.

Praat seems to get it right.  See attached.
![Screenshot from 2020-01-02 14-35-50](https://user-images.githubusercontent.com/963849/71688153-49bc8c00-2d6d-11ea-99e0-651fa4bb7ea1.png)

[2020-01-02 19:37] jonorthwash commented on #127
Also note that the frames tier proceeds much later than the rest of the file.

[2020-01-02 19:44] jonorthwash opened #128 "a few issues when dealing with ULT data"
Apparent regressions:
- [x] Window resize doesn't resize loaded US frame, spectrogram, or tiers.
- [ ] Click-and-drag on spectrogram to select span of audio appears to be broken.
- [x] Playback doesn't seem to work.

Other stuff:
- [x] Trace set not selected by default
- [x] "Read scan line data" should be selected (and data loaded) by default if it's the only option.
- [ ] It's possible to go out

[2020-01-02 19:46] jonorthwash opened #129 "black background for ULT data"
The background for ULT-loaded data would be better as black than the current white.

[2020-01-02 19:49] jonorthwash commented on #112
→ #129

→ #127

→ #128

If this is what's being done now, then this should be fine.  I'm going to close this issue since the basic functionality is working.

[2020-01-02 19:49] #112 closed, assigned to mr-martian

[2020-01-02 19:51] jonorthwash commented on #89
→ #128

[2020-01-02 19:55] jonorthwash commented on #127
It seems the behaviour is that if the "read scanline data" isn't selected, it doesn't load the TextGrid for the next selected file.

[2020-01-02 19:56] jonorthwash commented on #127
However, the timing still appears to be off....  But the audio and the frames are misaligned with the spectrogram by the same amount.

[2020-01-02 20:08] jonorthwash commented on #127
Two separate issues:
- Alignment of annotation tiers and frames tier: apparently due to the frames tier not loading right if just generated (because it's a different length?).  @mr-martian suggests reloading the TextGrid after generating frames tier will solve this.
- Alignment of TextGrid tiers (including frames) with spectrogram: due to the TextGrid being a different length (in this case longer)

[2020-01-02 20:09] mr-martian commented on #127
reloading implemented in 97e7b95

[2020-01-02 20:17] jonorthwash opened #130 "inject entire sentence from AAA data into TextGrid"
The entire stimulus sentence from the AAA-exported data should be loaded into a "stimulus" tier (or similar) in the TextGrid.

[2020-01-02 20:18] jonorthwash commented on #130
The interval containing the stimulus text should be basically the whole recording length (but shouldn't go past end of audio, see https://github.com/SwatPhonLab/UltraTrace/issues/127#issuecomment-570318016).  Maybe pad by 100ms (or whatever—this is just a random suggestion) on either end.

[2020-01-02 20:23] #129 closed, assigned to mr-martian

[2020-01-02 20:30] jonorthwash commented on #128
- [ ] Sometimes the first frame is shown as being in the selected interval when the last interval is selected.  It also can't be clicked on.
![Screenshot from 2020-01-02 15-29-22](https://user-images.githubusercontent.com/963849/71691181-a96a6580-2d74-11ea-8a7d-3be61ddcb0f5.png)

[2020-01-02 20:33] jonorthwash commented on #128
- [x] Figure out what's up with the extra set of traces called "null" being added.

[2020-01-02 20:39] jonorthwash commented on #128
This apparently was left over from the alignment issue.  Deleting `metadata.json` and running again seems to've fixed it.

[2020-01-02 20:42] jonorthwash commented on #128
- [ ] Are frames being overwritten?
[code]
- [ ] Why are some lines unable to be imported?
[code]

[2020-01-02 23:46] mr-martian commented on #128
Yes, because that `SPLINES.dat` has 3 consecutive pairs of lines with the same date. They have different annotations though, perhaps it should try to load the textgrid and check whether the label matches?

Because the `File030.ult`'s mime type comes up as `application/x-dosexec`, so it's ignored and then the importer won't be able to compute frame times so it skips File030. Fixed in 7c6fec5.

[2020-01-03 00:03] jonorthwash commented on #128
That in and of itself isn't a problem.  I guess the issue here is the second field, "time of sample in recording".  These lines, besides their annotation label, appear to be legit repeats.  I wonder why the AAA export did that....

Yeah, it would be good to try to match the label to whatever's in the TextGrid at that time index.  Normally throw a warning for non-matches, and when there are conflic

[2020-01-03 00:09] #130 closed, assigned to mr-martian

[2020-01-04 20:52] jonorthwash commented on #124
I think there's probably a way to do this automatically.

[2020-01-05 04:13] BartholomaeusAstrum opened #131 "Error on Find window rowconfigure"
Functions just fine, and looks okay, but I get the error below whenever I open the find window (so far only with Command-F). The next line in the code also calls `Grid` which doesn't seem to be throwing an error? So not sure what's up with that.

[code]

[2020-01-05 04:32] mr-martian commented on #131
Looks like the search module just forgot to import `Grid` from `tkinter`. Should be fixed now.

[2020-01-05 05:04] BartholomaeusAstrum commented on #131
Yup! Thank you! Closed by 4ba8dbe78e45b4f6ec1c038b3d4b1363477a92ba

[2020-01-05 05:04] #131 closed, assigned to nobody

[2020-01-05 05:06] BartholomaeusAstrum commented on #96
This is fixed now, and I believe it was fixed by the recommendation made above. (I can't find the specific commit, unfortunately)

[2020-01-05 05:06] #96 closed, assigned to mr-martian, keggsmurph21

[2020-01-05 21:19] mr-martian commented on #127
@jonorthwash is this still an issue?

[2020-01-06 17:30] keggsmurph21 commented on #124
How would you handle user-defined loaders then?  By just always giving them the highest priority and preventing them from registering conflicting loaders?

[2020-01-06 17:47] keggsmurph21 commented on #96
298d5ef8ddceb4741befe738fc868937364a03d2 (https://git-scm.com/docs/git-blame) :^)

[2020-01-06 21:23] BartholomaeusAstrum opened #132 "First and last frames not accessible via scrolling"
When "Choose a frame" box is at frame #2, the left arrow becomes grayed out, and the left arrow key does not shift to frame 1. Clicking on frame 1 still displays it.
At the end of the text grid, the "Choose a frame" box and right arrow allow the user to select one frame number higher than the highest frame in the TextGrid. The program then throws the following error.

[code]

[2020-01-10 18:42] keggsmurph21 commented on #126
See 8ce0ac3

[2020-01-10 19:34] mr-martian commented on #126
I left some comments on that commit.

[2020-01-15 04:12] jonorthwash commented on #127
No, I believe these issues are resolved.

[2020-01-15 04:12] #127 closed, assigned to mr-martian

[2020-01-15 04:27] jonorthwash opened #135 "number of files selectable limited by height of display"
Only the files that fit within the vertical limits of the display are visible in the menu and can be selected.  The folder relevant to the attached screenshot goes up to File072.  Using keyboard shortcuts (<kbd>ctrl</kbd>+<kbd>←</kbd>, <kbd>ctrl</kbd>+<kbd>→</kbd>), it's possible to navigate beyond what's visible on the screen.
![Screenshot from 2020-01-14 23-20-44](https://user-images.githubuserc

[2020-01-24 22:21] jonorthwash opened #136 "issues on Windows"
- [x] Most keyboard shortcuts seem ineffective.
- [x] No playback (probably need to install ffmpeg).
- [x] A bunch of errors on the command line.

Full trace of me piddling around with it:
[code]

[2020-01-30 22:21] jonorthwash opened #137 "selection (green) line remains when different frame is selected"
See screenshot.

![Screenshot from 2020-01-30 17-21-23](https://user-images.githubusercontent.com/963849/73495650-f72eb980-4384-11ea-872e-5955dd276005.png)

[2020-02-01 21:05] jonorthwash opened #138 "minor UI improvements"
Some of these are probably present in other issues.
- [ ] Add keyboard shortcuts for select all (<kbd>ctrl</kbd>+<kbd>a</kbd>), copy (<kbd>ctrl</kbd>+<kbd>c</kbd> / <kbd>ctrl</kbd>+<kbd>ins</kbd>), and paste (<kbd>ctrl</kbd>+<kbd>v</kbd> / <kbd>shift</kbd>+<kbd>ins</kbd>).  (Some of these seem to already work.)
- [ ] Add a way to unselect selected traces without clicking to make a new one, probabl

[2020-02-05 20:10] jonorthwash opened #139 "TextGrid manipulation meta issue"
- [ ] Facility for adding tiers (mainly interval, but also point).
- [ ] Facility for adding intervals (and points) in a tier.
- [ ] Facility for adjusting intervals.
- [ ] Facility for changing name ("mark") of intervals.
- [ ] Maybe some "locking" mechanism to avoid accidental changes.

[2020-03-18 13:53] jonorthwash commented on #93
Hi @keggsmurph21, @calebho.  I know there's work on a UI rewrite in a branch.  Could someone fill me in on the vision guiding that?

I seem to remember some discussion about a browser-based front-end?  I ask now because I could see [blueprint.js's sidebar](https://dribbble.com/shots/3647198-Sidebar) (or similar) being a really useful addition for this project.

[2020-03-19 05:04] kmurphy4 commented on #93
Hey Jonathan -- we were thinking of writing an [Electron](https://www.electronjs.org/) frontend, which is very similar to running the application in a web browser.  We can take a look at the link you posted as the UI gets designed.  I've been swamped the past few weeks, but will hopefully have some time to work on this over the next few weeks.  Thanks for the heads up!

[2020-05-08 02:21] mr-martian commented on #135
This appears to be a general limitation of `OptionMenu`

https://stackoverflow.com/questions/30907851/how-to-attatch-scrollbar-to-dropdown-list-in-tkinter
https://python-forum.io/Thread-Tkinter-need-help-in-optionMenu-using-tkinter

suggest some alternatives

[2020-05-09 21:19] jonorthwash commented on #135
Perhaps a resizable option box?

[2020-10-02 20:12] ftyers opened #140 "Support 3d stuff"
This is a feature request.

[2020-10-05 20:14] covetedfish opened #141 "Dysfunctional word zoom"
![Screen Shot 2020-10-05 at 4 13 29 PM](https://user-images.githubusercontent.com/51379439/95127273-c0841c80-0725-11eb-8721-016306fd9df3.png)

[2020-10-05 20:19] covetedfish opened #142 "Metadata.json not updating on subsequent runs"
When UltraTrace is run without first pulling LFS files, subsequent runs can't find the LFS files even after they've been pulled

[2020-10-05 20:21] mr-martian commented on #141
One day I will finally succeed in replacing all the `float`s with `decimal.Decimal`s and then I will finally be happy and not have to keep dealing with this bug.

[2020-10-05 20:23] mr-martian commented on #142
If I understand correctly, the behavior you're describing is that file discovery is only done on project creation, so if you open an existing project after adding files to a directory, there's no way to have those files added to the project.

[2020-10-05 20:24] mr-martian commented on #142
In short, there ought to be an option to re-run file discovery on an existing project.

[2020-10-05 20:34] jonorthwash commented on #142
Yes, @mr-martian, you understand right.

[2020-10-05 20:40] mr-martian commented on #142
So is the idea that we want to rerun file discovery every time, or that we want a menu option to rerun it?

[2020-10-06 18:41] jonorthwash commented on #142
Maybe a "refresh" button next to the format dropdown.

[2020-10-06 18:42] jonorthwash opened #143 "WARN: cannot import name 'quote' from 'urllib'"
I get this when I start UltraTrace these days:

[code]

[2020-10-06 18:52] jonorthwash opened #144 "problem with spectrogram?"
I seem to not be getting a spectrogram for most (all?) recordings.  There's no related error in the logs until this:

[code]

[2020-10-06 18:54] jonorthwash commented on #141
I'm now getting this when I do <kbd>ctrl</kbd>+<kbd>n</kbd>:

[code]

[2020-10-06 20:23] mr-martian commented on #141
d414e6f should fix the issue on that particular line.

I also added a `__setattr__` method that will hopefully catch some portion of future type errors of this sort.

[2020-10-07 17:03] jonorthwash commented on #141
More today:
[code]

[2020-10-07 17:43] mr-martian commented on #141
A few options for dealing with this:
1. someone (probably me) tracks down every place in the code where a timestamp is manipulated and makes sure they're all `decimal.Decimal`
2. we eliminate `decimal.Decimal` and use `float` everywhere
3. we bundle the textgrid library and I do the same `__setattr__` trick to ensure type consistency

[2020-10-08 19:21] jonorthwash commented on #141
Isn't there a reason we're using `decimal.Decimal`?

I don't understand what the `__setattr__` trick is.

[2020-10-08 20:09] jonorthwash commented on #144
[code]

[2020-10-08 20:30] mr-martian commented on #143
This is due to having installed `parselmouth` (an interface of ad service providers) rather than `praat-parselmouth` (bindings for Praat).

[2020-10-08 20:40] mr-martian commented on #8
Library mentioned in #1 is https://github.com/jjberry/Autotrace

[2020-10-08 22:27] jonorthwash commented on #144
Okay, so you can't have `paselmouth` installed, and need `praat-parselmouth` instead.

[2020-10-08 22:27] #144 closed, assigned to nobody

[2020-10-08 22:27] jonorthwash commented on #141
[code]

[2020-10-09 06:28] jonorthwash commented on #141
Fixed.

[2020-10-09 06:28] #141 closed, assigned to nobody

[2020-10-09 06:31] jonorthwash opened #145 "audio offset adjustment box gets covered up"
While the application is starting up, the "offset" spinbox is entirely visible:
![Screenshot from 2020-10-09 02-27-34](https://user-images.githubusercontent.com/963849/95550711-5abebb80-09d7-11eb-9088-787e9993ccc9.png)

After it starts up, the spinbox gets covered by the frames tier:
![Screenshot from 2020-10-09 02-27-36](https://user-images.githubusercontent.com/963849/95550710-5a262500-09d7-11eb

[2020-10-09 06:42] jonorthwash commented on #143
In some ways actually an issue though.  It is possible to have both libraries installed, in which case the one you get is random?  Can we do a check on loading to decide between them, or at least tell the user what's going on instead of having an error message about `import name 'quote'` when the error is in fact that UltraTrace is loading the wrong library?

[2020-10-09 06:44] jonorthwash commented on #136
The errors on the command line and possibly the keyboard shortcuts appear to have been #141.

[2020-10-09 17:33] jonorthwash commented on #136
Yep, this all works now.  I was running python 3.8.0 on the Windows machine.

[2020-10-09 17:46] jonorthwash commented on #136
Playback works after installing ffmpeg and putting the path in environment variables per [these instructions](https://windowsloop.com/install-ffmpeg-windows-10/).

[2020-10-09 17:46] #136 closed, assigned to nobody

[2020-10-13 18:59] jonorthwash opened #146 "font issues on macOS"
DejaVu fonts are not on macOS by default, so the new controls look a little funny until they're installed.  I guess it falls back to some other font, but I'm not sure which.

Three possible solutions:
1. Throw a warning on starting UltraTrace if the necessary fonts aren't detected.  Ideally the warning should say how to get and install the fonts.
2. Have `setup.py` install the fonts.
3. Find a goo

[2020-10-13 19:13] jonorthwash opened #147 "GUI redesign metaissue"
Current major GUI issues I'd like to see solved:
* Does not respect macOS dark theme
* Buttons with custom fonts look a little weird on macOS
* Does not respect gtk theme in GNU/Linux
* No out-of-the-box interface buttons (play/pause, etc.)
* Frame playback is really slow on macOS

There's no easy way to solve these issues using `tkinter`.

The solution is a complete rewrite of the interface.  @ca

[2020-10-13 19:18] jonorthwash commented on #147
See also #93.

[2020-10-18 02:50] jonorthwash opened #148 "frames eat memory"
[code]

Not sure this is necessarily a bad thing?  How do we want to proceed?

[2020-10-18 03:20] jonorthwash commented on #148
It seems it can be only a few frames loaded several times each that calls this up, so perhaps there's an actual bug here.

[2020-10-18 04:01] mr-martian commented on #148
Is this noticeably impacting memory? Or is it just a warning? `close()` is called on the figure later in the same function, so if I remember correctly, I tried to get rid of the warning but was unsuccessful.

[2020-10-18 16:28] jonorthwash commented on #148
I'm not sure.  But it does seem to open single images multiple times?  Maybe this is because they're closed when another image is displayed?

[2020-10-18 16:30] jonorthwash opened #149 "file not found should be a warning not a crash"
The following happened when a symlink was linked to file that didn't exist:

[code]

This should instead throw a warning and continue.

[2020-10-18 17:41] mr-martian commented on #148
This is for ULT and what's supposed to happen is it opens a matplotlib figure, generates the image, copies it to png for display, and then closes the figure immediately. The problem is that for some reason, the figure isn't closing.

[2020-10-18 21:17] jonorthwash opened #150 "loading ULT doesn't work sometimes"
I sometimes get errors like this when trying to load data using "read unannotated":

[code]

[2020-10-22 19:54] jonorthwash opened #151 "adjust contrast, colourise"
Adjust contrast of ultrasound image (per GetContours) and/or colourise with colourmap (per WASL & GetCountours).

[2020-12-23 04:51] jonorthwash opened #152 "reload metadata"
A little refresh button somewhere up in the "Recording" section that does the following:
- Rescans files and updates anything in metadata as needed
- Does not erase traces!  Maybe traces and metadata should be separated into different files?
- Updates the interface to include any new files (or remove ones that no longer exist)

[2020-12-23 04:52] jonorthwash opened #153 "audio track selection"
In the case of audio files with multiple tracks, allow for selecting both or either track.  Current behaviour is to display / play(?) both combined.

[2020-12-23 04:55] jonorthwash opened #154 "other criteria besides filename"
Present options to the user for selecting recordings based on some other criteria, such as the contents of a particular TextGrid tier (with a fallback for TextGrids that don't have that tier?) or a "smart" mode where it diffs the contents of certain tiers and tries to leave only the thing most of them don't differ in?

[2020-12-23 05:06] jonorthwash opened #155 "incorrect times?"
The time of the early edge of the visible span is sometimes later than time of the selected frame in the frames tier within that span?

![Screenshot from 2020-12-23 00-04-20](https://user-images.githubusercontent.com/963849/102961591-ae0eb900-44b2-11eb-8f40-2fe3fbc267a5.png)

[2020-12-23 05:57] jonorthwash opened #156 "sometimes path of TextGrid is absolute instead of relative"
[code]

This seems to happen only sometimes.  I'm thinking it has something to do with where UltraTrace is started from?

[2020-12-23 15:58] mr-martian commented on #156
Presumably this is only for generated textgrids?

[2020-12-25 19:03] jonorthwash commented on #156
Aha, that would explain the distribution well in this case.  And also helps identify where the bug might be in the code.

[2021-04-17 22:00] jonorthwash commented on #8
Also potentially use [SLURP](https://github.com/cathylaporte/SLURP), like [GetContours](https://github.com/mktiede/GetContours) does.

[2021-07-22 04:35] jonorthwash commented on #156
Hm, nope, we seem to be getting this for pre-existing TextGrids that were modified and then reloaded.  It's only changing paths for TextGrids that we reloaded in UltraTrace, and not ones we didn't.  (For ultrasound files loaded for the first time, it's identifying the corresponding TextGrid and saving the paths this way too.)

Part of a diff from a recent commit—a file that was newly opened in Ult

[2021-08-23 05:46] jonorthwash opened #159 "wxPython redesign TODO"
* [x] General interface
  * [x] 2x2 layout
  * [x] Control Panel sections
* [ ] Files control
  * [x] display file names
  * [ ] selecting file names changes file
  * [ ] _display something other than filenames (#154)_
  * [ ] _show percentage annotated_
  * [ ] _filter by name_
  * [ ] _filter by matches in textgrid?_
  * [ ] _reload metadata button (#152)_
* [ ] Frames control
  * [ ] change wit

[2021-08-23 06:31] jonorthwash commented on #147
Superceded by #159

[2021-08-23 06:31] #147 closed, assigned to covetedfish

[2022-02-16 16:44] jonorthwash opened #161 "audio option to choose channel(s) (when stereo audio file)"

[2022-02-16 16:57] jonorthwash opened #162 "audio playback is finnicky"
* Audio playback doesn't always work in Windows (even via button), or has a major delay first
* Delay in playback even in Linux (with recent version of Python?  Or with new ways of doing audio on Linux?)
* Tab is captured by various text boxes instead of playing audio
* PortAudio is no longer maintained?

One of two things needs to happen:
* The issues with the current implementation need to be in

[2022-02-16 17:35] jonorthwash opened #163 "deleted points are copied"
* When using copy-paste.

[2022-02-16 17:44] jonorthwash opened #164 "TextGrid zooming doesn't work on some systems"
* So far seems limited to Windows 8?

[2022-02-16 17:45] jonorthwash opened #165 "total number of annotated frames per tier not consistently correct"
* Sometimes it seems to stay the same across files
* Sometimes it seems to be way too high

[2022-02-21 04:46] jonorthwash commented on #8
Another option might be the new [DeepLabCut](https://github.com/articulateinstruments/DeepLabCut-for-Speech-Production)

[2022-04-17 18:59] TakayukiNagamine opened #166 "Ultratrace with AAA-exported file"
Hello,

It would be great if anybody could help me (a really python novice) with using UltraTrace! I have tried running UltraTrace on a data set ([test.zip](https://github.com/SwatPhonLab/UltraTrace/files/8502262/test.zip)) that contains an ultrasound file from AAA (.ult), an audio file (.wav) and an annotation TextGrid (containing tiers for 'speaker', 'word' and 'segment'). I'm interested in trac

[2022-07-12 04:20] keggsmurph21 commented on #166
Sorry for the slow reply!  I can reproduce this error (thanks for the test data!).

It looks like we're assuming that this `US.txt` file exists as a sibling of `*.ult`, but that's not the case.  AFAICT, we started making this assumption in a72e87f583876d0677573ae368df8580096e41cc.  I'm not very familiar with the "ULT" code, so maybe @mr-martian can help more here.

If I just patch the code to hand

[2022-07-12 12:50] mr-martian commented on #166
The problem is that every ULT file I had as an example when writing that code was accompanied by a metadata file containing those 2 numbers. Defaults could perhaps be set, but I have no idea what they should be.

[2022-08-28 23:42] jonorthwash commented on #166
Hi @TakayukiNagamine!  My apologies, I'm just seeing this now.  I see my colleagues have responded already.

Regarding the NW&S data, you'll need to select how to load it using the menu under the file selector.  It should probably default to something, but it currently doesn't.

As far as your data from AAA, I believe there's an option in AAA to export the additional needed data.  If you can't get

[2022-09-05 19:45] jonorthwash commented on #161
Duplicate of #153.

[2022-09-05 19:45] #161 closed, assigned to nobody

[2022-09-13 22:22] qiyoulu opened #170 "Can't build praat-parselmouth module on Linux"
[code]

[2022-09-13 22:22] qiyoulu commented on #170
This was on Fedora Linux 37. Will try on Ubuntu.

[2022-09-14 02:17] mr-martian commented on #170
The relevant place for this is probably actually on https://github.com/YannickJadoul/Parselmouth

[2022-09-14 02:20] #170 closed, assigned to nobody

[2022-09-30 17:10] jonorthwash opened #174 "Don't crash if not all file types present"
When a directory with some but not all necessary files (e.g., missing .ult or metadata files) is opened, UltraTrace crashes.  It should fail gracefully and show no files, and probably also alert the user that some metadata is incomplete.

[2022-10-01 14:36] jonorthwash commented on #174
I believe most of the filetype logic is currently handled in `metadata.py`.

[2022-10-01 14:37] jonorthwash commented on #164
#173 is probably a more precise version of this issue.  Closing this one in favour of that one.

[2022-10-01 14:37] #164 closed, assigned to nobody

[2022-10-02 13:30] jonorthwash commented on #107
I think this issue has been addressed, and new issues can be opened for anything related.

[2022-10-02 13:30] #107 closed, assigned to nobody

[2022-10-02 13:33] jonorthwash commented on #124
This issue has been discussed.  Anything further that's related can be brought up in new issues.

[2022-10-02 13:33] #124 closed, assigned to jonorthwash, mr-martian, calebho, BartholomaeusAstrum

[2022-10-02 13:40] jonorthwash commented on #90
I think this issue was addressed and never closed.

[2022-10-02 13:40] #90 closed, assigned to mr-martian

[2022-10-02 13:52] jonorthwash opened #175 "separate metadata and trace data"
Currently metadata and traces are both stored in `metadata.json`.

This can be problematic, because sometimes the metadata needs to be refreshed (e.g., when working on data in a new directory, because of #156), which can currently only be done manually or by deleting the file (#152).

It would be nice to have `metadata.json` for everything but traces, and `traces.json` for traces.  At least one of

[2022-10-03 18:54] jonorthwash opened #176 "libav-tools is no longer available in Debian"
[code]

The `install.sh` script will need to be updated to take this into account.

[2022-10-03 18:58] jonorthwash opened #178 "apt can (and should?) track other packages"
Like pyaudio and ttkthemes and pil.imagetk and matplotlib and pydub

[2022-10-03 23:52] jonorthwash opened #179 "remove dependence on libmagic"
`libmagic` and especially `libmagic-bin` are the dependencies that make UltraTrace most difficult to deal with on Windows.

Alternatives to this dependency can be investigated and tested.

[2022-10-11 03:48] keggsmurph21 commented on #176
Hm, we already require you to install `ffmpeg`, which itself depends on all the `av*` stuff we care about (I assume):
[code]
I think we can probably just remove the references to `libav-tools`.

[2022-10-11 03:49] keggsmurph21 commented on #178
IMO, we should create a virtual environment during installation so that we don't have to care about what's installed on the host (except for C headers and such).

[2022-10-11 03:50] keggsmurph21 commented on #179
Hm, I'm not very familiar with programming on Windows.. do you know more specifically what the issue is?

[2022-10-11 15:49] jonorthwash commented on #179
The main issue is that the only version available via pip3 on Windows where both packages correspond (=compatible) is rather old, and it's a version that's not available via pip3 for Linux.  So the requirements.txt file becomes platform specific.

[2022-10-11 15:52] jonorthwash commented on #178
I see two uses of UltraTrace: development / bleeding-edge and end-user.  End-user versions (i.e., obtaining binaries from the releases section) shouldn't need to worry about any of this, but anyone who's doing development or wants the bleeding-edge (i.e., obtaining the source from git) should be able to use whatever comes with their package manager.  Being able to create a virtual environment is a

[2022-10-11 15:53] jonorthwash commented on #176
Huh, it even says ffmpeg replaces libav-tools.  Do you know what it is that UltraTrace needs from there?

[2022-10-14 19:37] jonorthwash commented on #179
I've also been having trouble with it on recent versions of macOS.  The only way to install it seems to be to manually clone and compile?

[2022-10-22 20:39] keggsmurph21 commented on #179
Haha well luckily we don't actually need this library (AFAICT...).

[2022-10-23 03:16] keggsmurph21 commented on #176
Haha I don't think we even need `ffmpeg`: https://github.com/SwatPhonLab/UltraTrace/pull/181/commits/d2393e31925ee1794dc9dbdbd35ac8848c683183 seems to work ok?

[2022-10-23 03:35] keggsmurph21 commented on #178
Hm, what do you mean by this?  I just opened https://github.com/SwatPhonLab/UltraTrace/pull/181, which adds a tool to manage a virtual environment (if you want to use it), and it's pretty straightforward.  You just need to type
[code]
in a `bash` shell and everything is handled for you.

It's true that the virtual environment is a bit chunky (~300 MB on my machine), but I would prefer to optimize

[2022-10-23 03:51] keggsmurph21 commented on #178
In fact, using my system-wide `pip` to install anything prints out this warning:
[code]
:grin:

[2022-10-28 18:26] jonorthwash opened #183 "installation a pain on macOS"
# PyAudio
(doesn't seem to be installable other ways; see https://github.com/PortAudio/portaudio/issues/708 ?)

1. `git clone https://github.com/PortAudio/portaudio.git`
2. `./configure; make; sudo make install`
3. `export CFLAGS="-I `pwd`/portaudio-v19/include/ -L `pwd`/portaudio-v19/lib/.libs/"` (with appropriate directories)
  - as of 2023-06-27: `export CFLAGS="-I `pwd`/include/ -L `pwd`/lib/.

[2022-11-18 15:15] jonorthwash commented on #179
Wait really?  Then can we just remove the code that calls it?

[2022-11-18 15:16] jonorthwash commented on #183
See also #179.

[2022-11-18 15:24] jonorthwash commented on #178
I would like to be able to distribute it as something that people can run without needing to figure out Python stuff.  I've spent hours helping people try to install it on Windows and macOS, and it's a pain on both platforms (usually requires compiling some non-python libraries from source), mostly because of python libraries that have platform-specific binaries that turn out to be broken/bitrotte

[2022-11-18 15:26] jonorthwash commented on #178
This is in fact the reason tracking dependencies in apt is good.  We don't care what version of e.g. libmagic someone has, but we do need their python libmagic version to match their system's version, and this is what package managers are for.  Virtual environments will result in mismatching versions, which will mean this won't work.

[2022-11-18 23:24] kmurphy4 commented on #179
I didn't see anything that called it, but maybe i missed something?

[2022-11-18 23:32] kmurphy4 commented on #178
That's fair, tho it does basically mean that we need to (1) limit ourselves to some lowest-common-denominator feature set, since we don't control when upgrades happen, and (2) ask people to install some Python packages "globally" (either with `sudo` or `--user`).  We also still need to figure out a way to get those system libraries installed in the first place 😁

Alternatively, how would you feel

[2022-11-20 17:01] keggsmurph21 commented on #183
I got these working when I set up the MacOS build for CI in #181: `portaudio` can be installed with `brew` and `python-magic-bin` isn't actually required (cda964f94bfa2b2361dccf68fe9f0911f619dff2).  See https://github.com/SwatPhonLab/UltraTrace/blob/d2393e31925ee1794dc9dbdbd35ac8848c683183/.circleci/config.yml#L72-L89